/*  any block over the graph (legend, histogram...) */
.over-panels {
  z-index: 5 ; /* over the graph */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -border-radius: 3px;
  -moz-box-shadow: 0px 2px 6px #000;
  -webkit-box-shadow: 0px 2px 6px #000;
  box-shadow: 0px 2px 6px #000;

  /*non selectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#unselectbutton {
  background-color: rgba(255,255,255,0)
  color: #900;
  font-weight: bold;
  font-size: 70%;
  position: absolute;
  right: 24px;
  top: 14px;
  z-index: 6;
}
#unselectbutton:hover {
  color: #400;
}

/* LEGEND PANEL */
.my-legend {
    position:fixed;
    /* width: we set it equal or smaller than #lefttopbox width */
    max-width:20%;
    max-height: 30%;
    padding: 0 5px;
    overflow-y:scroll;
    bottom:18px;
    left:0;
    border:solid 1px black;
    background-color:white;
    opacity: 0.8;
    color:#250587;
    margin: 7px;
    font-size:120%;
    cursor: default;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 16px;
  margin-bottom: 2px;
  }
.my-legend ul.legend-labels li span.lgdcol {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  }
.my-legend span.thresh {
  display: inline;
}
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }



/* ZOOMBAR */

#ctlzoom {
    position: fixed;
    right: 410px;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
}


#ctlzoom li {
    padding: 0;
    margin: 10px 0;
    width: 36px;
    text-align: center;
}


.zoombarbuttons {
  position:relative;  /* b/c they can contain absolute wait icon */
}

.zoombarbuttons:hover {
    opacity: .7;
}

#zoomMinusButton, #zoomPlusButton {
    display: block;
    width: 24px;
    height: 24px;
    background:url("../img/plusmoins.png");
    margin: 0 auto;
}

#zoomMinusButton {
    background-position: 0 -24px;
}

#zoomMinusButton:hover {
    background-position: -24px -24px;
}

#zoomPlusButton {
    background-position: 0 0;
}

#zoomPlusButton:hover {
    background-position: -24px 0;
}

/* ----------- */


.reldocs {
  display: none;
}


#sidefold {
  position: absolute;
  left: 0;
  top: 35%;
  opacity: .4;
}

#sideunfold {
    display: none;
    position: absolute;
    right:0;
    top: 35%;
    opacity: .4;
    display: none;
    z-index: 5;
}
#sidefold:hover, #sideunfold:hover {
  opacity: 1;
}
#sidefold img, #sideunfold img {
  height: 14px;
}

#zoomSlider {
    background:#fff;
    border:1px solid #aaa;
    height: 90px; margin: 0 auto;
}

/* GESTION DES PAVES DE GAUCHE (conteneur encore vide)*/
#lefttopbox {
    position:fixed;
    z-index: 5 ;   /* over the graph */
    left:0 ;
    top: 125px;
    width:20% ;

    /* hauteur ~ 200px (juste assez pour emballer la selection sans couvrir le graphe en dessous) */
    height: auto;
    min-height: 20px;
    overflow: hidden;
    text-align:center;
    padding: .3em 1em 1em 1em;

    display: none; /* because no are nodes selected at page init time */
}

#tw-current-selection {
    width: 100%;  /* 100% within lefttopbox */
}

/* inside #tw-current-selection > #names */
#selectionsBox {
    text-align:center;
    background-color:white;
    color:#250587;
    margin: 7px;
    padding: 3px;
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -border-radius: 3px;
    -moz-box-shadow: 0px 2px 6px #000;
    -webkit-box-shadow: 0px 2px 6px #000;
    box-shadow: 0px 2px 6px #000;
}


/* tweets inside topPapers */
.EmbeddedTweet-tweet {
  width: 295px;
  max-width: 295px;
}


/* freshslider right-side cursor positioning fix
 * (cf. freshslider.js l. 125) */
.fss-right {
  margin-left: 0 !important ;
}
