
/* fixed TWJS grid: graph + bars
 * -----------------------------
 *  html, body
 *  #topbar
 *  #toolbar
 *  #sidebar
 *  #sigma-contnr (graph zone)
 */

html, body {
  height: 100%;
  width: 100%;
  background-color: #eee;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
}

/* to display wait cursor */
html.waiting {
  cursor: wait;
}

#sigma-contnr {
  position: fixed;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 400px;
  z-index: 1;

  /* non selectable: we've got our own events here */
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE/Edge */
          user-select: none; /* Chrome and Opera, future + */
}

#sidebar {
  position: fixed;
  top: 105px;
  bottom: 0;
  right: 0;
  width: 400px;
  z-index: 2;
  border-left: 1px #222 solid;
  overflow-y: scroll;
}

#toolbar {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  width: 100%;
  border-bottom: 1px #222 solid;
  font-size: 9px;
  line-height: 10px;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 35px;
  width: 100%;
  border-bottom: 1px #222 solid;
  overflow: hidden;
}


#twbrand {
  font-family: "Gurajada", "Droid Sans", sans-serif ;
  font-size: 24px;
  width: 50px !important;
}

/* toolbar contents */
#defaultop {
  padding-top: 8px;
}

.navbar-higher {
  padding-top: 5px !important;
}
.navbar-middle {
  padding-top: 8px !important;
}
.navbar-lower {
  padding-top: 15px !important;
}

#defaultop #searchnav {
  padding-left: 30px;
}
#defaultop .my-nav-input-group {
  width: 2vw !important;
}
#searchinput {
  min-width: 150px;
  max-width: 300px;
}

#defaultop .tworow-selectors {
  width: 135px !important;
  padding-top: 15px;
  margin: 0 25px ;
}

#defaultop .tworow-selectors td {
  width: 135px !important;
  padding: 0 0 10px 0 ;
}

#defaultop .slider-legend {
    margin: 10px 0 0 0 ;
}


#defaultop .settingslider {
    max-width: 90px !important;
    display: inline-block ;
}

#graph-panels {
  display: none; /*not shown at init*/
}

/*thick buttons needs lift*/
#changetype, #changelevel{
  position: relative;
  bottom: 2px;
  font-size: 11px;
  line-height: 12px;
}

#left {
  max-width:
}

/* override navbar toggle on right side when collapsed */
#toolbar-open {
  float:left !important;
  margin-left: 15px !important;
}


/* right info panel */
#varinfos-accordion {
  display:block;
}

/* VARIAE */

#relatedBox, #oppositesBox{
  margin: 0;
  padding: 0;
}

/* contains oppositesBox */
#taboppos{
  display: none;      /* initial display off but turned on if bipartite */
}

.pseudo-optgroup {
  color: #555;
  text-align: center;
  font-size: 90%;
  padding: 1.5em 0 .5em 0;
}

.tagcloud-item{
    display:inline-block;
    border:solid 1px;
    /*box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3); */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-color:#BDBDBD;
    padding:0px 2px 0px 2px;
    margin:1px 0px 1px 0px;
    cursor: pointer;
}

.author {
  font-variant: small-caps;
}

.searchhit {
  font-family: "Roboto", "Droid Sans", sans-serif;
  border: 1px solid #888;
  border-radius: 7px;
  background-color: #FFF;
  padding: 7px 0 7px 12px;
  margin: 10px 10px 0 0;
}

.hit-text {
  color: #444;
  font-family: "Crete Round", "garamond", serif ;
  padding: 5px;
}
.hit-keywords {
  color: #000;
  font-style: italic;
  font-family: "Crete Round", "garamond", serif ;
  padding: 5px;
}

/* small messages */
p.micromessage{
  font-size: 85%;
  color: #707070 ;
}

.btn-sm:hover {
	font-weight: bold;
}


/* SIDEBAR CONTENT */


#sidebar {
  padding: 5px 0 0 5px;
}

#tips{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 80%;
}

#tips ul{
    /*list-style:none;*/
    padding-left:10%;
}

#information {
    font-size:80%;
}


#localInput {
    font-size: 80%;
    height: 0;  /* before activation if explorerjs.html run locally */
}

#localgraphfile {
  margin-left: auto ;
  margin-right: auto ;
}

.comment {
  padding: 10px
}

.centered {
  text-align: center;
}

.code {
  font-family: "Fira Sans", "Courier", "Courier New", monospace;
  color: '#222'
}

#information .information-vcard {
    border: 2px solid #555;
    padding: 2em 1em .3em 1em;
    margin: 1em;
    background-color:#fff;
    border-radius: .3em;
}

#information .information-others {
    padding: 0;
    margin: 1em;
    background-color:#eee;
    border-radius: .3em;
}

#information .information-others li {
  color: #444;
  font-family: "Crete Round", "garamond", serif ;
  padding: 5px;
}

#information .information-links {
    padding: 7px 0 0 20px;
}

ul.infoitems {
  list-style: none;
  padding: 0 !important;
}

/* etabs => activated via easytabs (for selection)
 * nav-tabs => just the tabs' css (for selection and reldocs)
 */


#selection-tabs-contnr, #reldocs-tabs-wrapper {
 margin: 7px;
 display: none; /* shown when selection */
}

.etabs{ margin: 0; padding: 0; line-height: 15px;}

.selection-tabs-contnr .panel-container { background: #fff;
  border: solid #222 1px;
  padding: 10px;
  border-radius: 0 4px 4px 4px;
}
.panel-container { margin-bottom: 10px; }


.tab-content {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 0 4px 4px 4px;
    background-color: #BBB;
    display: block;
}

.nav-tabs > li > a,
.nav-tabs > li:hover > a {
    margin-bottom: -1px;
    padding: 4px 7px;
    border-top: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white !important;
    background-color: #3E6280;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

.topPapers{
    display: none;
    color:black;
}

.tab-pane {
    transition: height 0.5s ease-out;
}








/* switch css -- generic (src: proto.io/freebies/onoff/)*/
.onoffswitch {
    position: relative; width: 38px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #B5B5B5; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.15s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    font-size: 10px; color: white;
    box-sizing: border-box;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 0px;
    background: white;
    position: absolute; top: 0; bottom: 0;
    left:0;
    border: 1px solid #B5B5B5; border-radius: 9px;
    transition: all 0.15s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    left: 24px;
}

/* switch css -- Edges instance */
#edges-switch-inner-label:before {
    content: "Edges";
    font-size: 7px;
    font-weight: normal;
    padding-left: 3px;
    background-color: #27C470; color: #333333;
}
#edges-switch-inner-label:after {
    content: "Edges";
    font-size: 7px;
    font-weight: normal;
    padding-right: 3px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}


/* dev-testing panel */
#dev-testing {
}

#test-settings {
  padding: 20px;
  border-radius: 2em;
}
