
/* fixed TWJS grid: viewport-specific variants
 * -------------------------------------------
 */

/* sm and smaller: for mobile */
@media(max-width: 768px){

  body {
    font-size: 10px;
  }

  /* main containers a little higher */
  #sigma-contnr {
    top: 50px;
    left: 0;
    width: 100%;
    height: 55%;
    border-bottom: 1px #222 solid;
  }

  #sidebar {
    top: calc(50px + 55%);
    bottom: 0;
    height: 25%;
    width: 100%;
    background-color: #BBB;
  }

  .topPapers {
    -moz-box-shadow: none ;
    -webkit-box-shadow: none ;
    box-shadow: none;
  }


  #toolbar {
    top: 0px;
  }

  /* all its elements are moved elsewhere in mobile by js mobileAdaptConf() */
  #topbar {
    display: none;
  }


  #twbrand {
    font-size: 12px;
    width: 30px !important;
  }

  #varinfos-accordion {
    margin-top: 15px;
  }

  /* reposition mainlogo */
  #mainlogo {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 30px;
  }

  /* reposition network chooser */
  #network {
    float:right;
  }


  #topbar .container {
    max-height: 35px !important;
    width: 100%;
    font-size: 9px ;
    overflow-y: hidden;
  }

  /* in percentage of what htmlProportionalLabels() calculates*/
  #read-sameside-neighs, #read-opposite-neighs {
    font-size: 75%;
  }

  .etabs {
    font-size: 10px;
    line-height: 10px;
  }


}
