.banner-row {
    padding: 2.5em 0 ;
    /*background-color: #055D9B;*/
    /*background-color: #1EB3E6;*/
    background-color: #00B4E6;
    /*background-color: #FAB612;*/
    /*background-color: #EE751C;*/
    /*background-color: #F05A1A;*/
}


div.cmx-action-wrap {
    text-align: left;
}
img.cmx-action {
    width: 12em ;
    height: 12em ;
    padding: 0em !important;
    margin: 1em;
}

.action-announce {
    padding: 0;
    border: none;
    background-color: transparent;
}

.wwwpanel {
    box-shadow: .2em .2em teal;
}

.panel-body.wwwthumb {
  height: 35em;
  width: 100% ;
  overflow: hidden;
  position: relative ;
}

iframe.wwwthumb {
  height: 35em;
  width: 100%;
  top: 0 ;
  left: 0 ;
  position: absolute;
  background-color: #555;
}


iframe.wwwthumbsmall {
  transform:scale(0.7);
  height: 48em;
  top: -7em ;
  position: absolute;
  width:  70em;
  left: -12em ;
  background-color: #555;
  border-radius: 5em;
}
#information-example {
    background-color:#AAA;
    border-radius: 1em;
    padding: .8em;
}

#news-container {
    min-height: 50px !important;
}
