/* ================= MAIN COMEX SERVICES STYLESHEET ================= */


@media all {
/* form content for reg, profile, login, etc.... */
div.uform {
  /*padding: 15px 30px 53px 30px;*/
  padding: 0px 5px 3px 5px;
  margin: 7px auto 3px auto;
  background-color: #ddd;
}

/* form content for reg, profile, login, etc.... */
div.uform-white {
  padding: 0px 5px 3px 5px;
  margin: 7px auto 3px auto;
  background-color: #fff;
  border-radius: 5px;
}



div.uform-white .ccsection-heading,
div.uform-white .ccsection-uform-body {
    background-color: #fff;
}

/*div.uform::before {
    content: "F O R M";
    font-family: monospace;
    font-size: 1em;
    float: right;
    color: #000;
}*/


.uform.readonly input,
.uform.readonly label,
.uform-white.readonly input,
.uform-white.readonly label {
    color: #888;
}

.uform.readonly .tagbox-container,
.uform-white.readonly .tagbox-container {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.uform.readonly .tagbox-container input,
.uform-white.readonly .tagbox-container input {
    display: none;
}
.uform.readonly .tagbox-container label,
.uform-white.readonly .tagbox-container label {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #ccc;;
}

button.clean-btn

/* not used at present but could be useful for autompleted inputs */
.autocomp {
}

/* a "subpage" container UNUSED */
.subpage {
  width: 100%;
  max-width: 65em;
  display: none ;  /*switching page <=> displaying it */
}


.cartouche {
  border: .2em dotted #988 ;
  border-radius: 2em;
  padding: 1em 3em;
  text-align: center;
  /*max-width: 40em;*/
}

/* ex: profile overview in readonly */
.readonly.panel-body {
    background-color: #ddd;
}

/* a fixed div for validation messsages */
.menu-left-fixed {
    position: fixed;
    top: 4em;
    left: 0;
    display:block;
    z-index: 4;
    opacity: .8;
}


/* ==> a question + input block <== */
.question {
  padding: 0 1em;
  margin-bottom: 2em;
  max-width: 57em !important;           /* FORMWIDTH */
}

/* we center the questions
    when there is a visible wrapping */
div.uform .question,
.ccsection-wrap .question {
    margin-left: auto;
    margin-right: auto;
}


.conditional-q {
  display: none;
}

input.readonly {
    color: #fff;
    font-weight: bold;
    background-color: #303030 !important;
}

/* small label inside addon group*/
.smlabel {
  min-width: 7.5em;
}

/* the question's additional legend or caption */
.legend {
  font-family: Cambria, serif;
  color: #554 ;
  font-style: italic;
  text-align:right;
  padding: .5em 0 .5em .5em ;
  margin: 0;
}

/* floats on the right of the question if set after it */
.legend-float {
  float:right;
  text-align:center;
  font-size: 70%;
  padding-right: 2.1em;
}

.legend-alone {
  font-family: Cambria, serif;
  color: #554 ;
  font-style: italic;
  text-align: center;
  font-size: 120%;
  padding-bottom: 1em;
  font-weight: 500;
}

/* for code blocks or urls */
.code {
  font-family: "Fira Mono", "Droid Sans Mono", monospace;
  font-weight: 500;
  font-size: 75% ;
  background-color: #ACA;
  padding: .2em;
  border-radius: .2em;
}

/* mini box for each keyword or tag */
.box-highlight {
    max-width: 9em;
    background-color: #161;
    border: 1px solid #ACA;
    padding: 1em .4em .6em .8em;
    margin: .4em .2em .4em .5em;
    border-radius: .4em;
    color: #eed;
    display: inline-block;
    -webkit-transition: opacity .3s ease-in;
    letter-spacing: .02em;
    font-weight: bold;
    font-size: .8em;
}
.box-highlight-close {
  font-size: .7em;
  position: relative;
  margin-top: -1em;
  margin-right: -0.2em;
  float: right;
  right: 0px;
  color: #eed;
  /*background-color: #333;*/
  padding: .5em;
}

.tagbox-container {
    background-color:#eee ;
    border-bottom: 3px solid #ccc;
    min-width: 50em;
}


/* form categories: like form sections etc. */
h3.formcat {
  font-size: 16px;
  padding-top: 1em;
  font-weight: bold;
  color: #910;
}

h3.formcatfirst {
  font-size: 16px;
  margin-top: .2em;
  font-weight: bold;
  color: #910;
}

.debug-info {
  font-family: monospace ;
  max-width: 55em;
  font-size: 80%;
  line-height: 90% ;
  background-color: #555;
  color: #fff;

  /* to stay invisible when no debug message */
  padding: 0 ;
  min-height: 0px;
}

/**/
ul.minilabels {
  padding-top: .5em;
  list-style-type: none;
  font-size: 75% ;
  text-align: left;
  cursor: pointer;
}

li.minilabel {
    font-weight: bold ;
}


/* for captcha */
input.is-realperson {
    max-width:55%;
    min-height:5em;
    font-size: 1em;
}

.realperson-challenge {
  float:right;
  margin: .5em 0 0 0;
  max-height: 5em;
}
.realperson-text {
  font-family: monospace;
  font-weight: bold;
  /*letter-spacing: -.04em;*/
  /*font-size: .25em;*/
  /*line-height: .125em;*/
}

.realperson-regen {
  color: #554 ;
}

/* the main validation message (a special legend) */
#main_message {
  color: white ;
  font-size: 140%;
  text-align:center;
  line-height: 1.5em;

  background-color: #333 ;
  border-radius: .2em;
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid #ddd;

  display: none;

  -webkit-transition: opacity 1s ease;
}

#main_message.faded {
    opacity: 0;
}


/* the picture preview */
#box_show_pic {
    background-color: #554;
    border: none ;
    width:275px;
    height:275px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: none;
}

/* styled via cmxClt.uform.checkShowPic js in static/js/comex_user_shared.js */
#show_pic {
}


/*Show middlename button*/
#btn-midname {
    opacity: .8;
}


/* Autocomplete items */
.ui-menu-item {
    color: #337AB7 !important;
    font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.ui-state-focus, .ui-state-hover, .ui-state-active {
    text-shadow: none !important ;           /* <=== !!! */
    font-weight: bold !important;
    background-color: #5278B3 !important;
    border: .5px solid #6BB0E3 !important;
}

}



/* sm and md */
@media(max-width:991px){
    div.uform, div.uform-nobg {
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .menu-left-fixed {
        top: 11em;
    }

    .question {
      padding: 0;
    }

    #main_message {
      font-size: 110%;
      line-height: 1em;
      padding: .1em .3em ;
      margin: 0;
    }
}

/* ~ xs and smaller */
@media(max-width:400px){
    .smlabel {
      padding: 0;
      font-size: 65%;
      letter-spacing: -.1em;
      max-width: 6em;
      width: 5em;
      min-width: 5em;
    }
}
