/* =============================== MAIN COMEX SERVICES STYLESHEET =============================== */

.white { color:#fff ;}
.red   { color:#910 ;}
.green { color:#161 ;}
.grey  { color:#554 ;}
.lgrey { color:#ddd ;}
.orange{ color:#F96 ;}
.blue  { color:#23A ;}


/* classic look */
body {
  margin: 0;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: -0.04em;
  color: #333;
  background-color: #fff;
  line-height: .85em;
}

.comex-nav-item {
    vertical-align: middle;
    line-height: 2em;
    height: 2em;
    margin-top: .2em;

    /* good for scaffolding
    border: 2px solid white;
    */
}

/* main content for all new pages */
div.my-box {
    padding:0 15px;
}
@media(max-width:991px){
    /* sm and md */
    div.my-box {
        padding:0;
    }
}

/* form content for reg, profile, login, etc.... */
div.uform {
  padding: 15px 30px 53px 30px;
  margin: 38px 38px 8px 38px;
  background-color: #ddd;
}

/*div.uform::before {
    content: "F O R M";
    font-family: monospace;
    font-size: 1em;
    float: right;
    color: #000;
}*/

/* same but to put a panel-body inside */
div.uform-nobg {
  margin: 38px 38px 8px 38px;
}

@media(max-width:991px){
    /* sm and md */
    div.uform, div.uform-nobg {
        padding: 0;
        margin: 12px 12px 2px 12px;
    }
}

button.clean-btn

p#doors_ret_msg {
    font-weight: bold;
    text-shadow: .8px .8px #333, -.8px -.8px #333, -.8px .8px #333, .8px -.8px #333;
}

/* not used at present but could be useful for autompleted inputs */
.autocomp {
}

.page {
  margin-top: 45px;   /* topbar height is 40px */
}

/* for intro text */
.mini-hero {
  margin-top: 7px;
  font-size: 20px;
  line-height: 27px;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: .3em;
}


/* a "subpage" container UNUSED */
.subpage {
  width: 100%;
  max-width: 65em;
  display: none ;  /*switching page <=> displaying it */
}


.cartouche {
  border: .4em dotted #988 ;
  border-radius: 2em;
  padding: 1em 3em;
  text-align: center;
}


/* a fixed div for validation messsages */
.menu-right-fixed {
    position: fixed;
    top: 4em;
    right: 0;
    display:block;
    z-index: 4;
    opacity: .8;
}

@media(max-width:991px){
    /* sm and md */
    .menu-right-fixed {
        top: 11em;
    }
}

/* ==> a question + input block <== */
.question {
  padding: 0 1em;
  margin-bottom: 2em;
  max-width: 52em;           /* FORMWIDTH */
}

.conditional-q {
  display: none;
}

input.readonly {
    color: #fff;
    font-weight: bold;
    background-color: #303030 !important;
}

#cnil_warning {
  /*text-align: center;*/
}

/* form operation buttons for instance add middle name, remove box, etc */
.operation {
  color: #554 ;
  cursor: pointer;
}
.operation:hover {
  color: #23A;
  text-shadow: .2px .3px #333;
}

/* same on dark background */
.operation-light {
  color: #979797 ;
  cursor: pointer;
}
.operation-light:hover {
  color: rgb(170,255,120);
  text-shadow: .2px .3px #eee;
}


.navlink, .navlink:focus {
  font-size: 1.2em;
  font-weight: bold;
  margin: 3px 0 0 6px;
  background-color: transparent !important;
}

.navlink:hover {
  color: white;
  background-color: transparent !important;
}

/* small label inside addon group*/
.smlabel {
  min-width: 7.5em;
}

@media(max-width:400px){
    /* ~ xs and sm */
    .smlabel {
      padding: 0;
      font-size: 65%;
      letter-spacing: -.1em;
      max-width: 6em;
      width: 5em;
      min-width: 5em;
    }
}

/* the question's additional legend or caption */
.legend {
  font-family: Cambria, serif;
  color: #554 ;
  font-style: italic;
  text-align:right;
  padding: .5em 0 .5em .5em ;
  margin: 0;
}

/* floats on the right of the question if set after it */
.legend-float {
  float:right;
  text-align:center;
  font-size: 70%;
  padding-right: 2.1em;
}

input#my-captcha{
    height: 5em;
    font-size: 1em;
}

/* for code blocks or urls */
.code {
  font-family: "Fira Mono", "Droid Sans Mono", monospace;
  font-weight: 500;
  font-size: 75% ;
  background-color: #ACA;
  padding: .2em;
  border-radius: .2em;
}

/* mini box for each keyword or tag */
.box-highlight {
    max-width: 9em;
    background-color: #161;
    border: 2px solid #ACA;
    padding: .5em .4em .6em .8em;
    margin: .4em .2em .4em .5em;
    border-radius: .3em;
    color: #ddd;
    display: inline-block;
    -webkit-transition: opacity .3s ease-in;
    letter-spacing: normal;
    font-weight: 500;
}
.box-highlight-close {
  font-size: .5em;
  position: relative;
  margin-top: -1em;
  margin-right: -0.2em;
  float: right;
  right: 0px;
  color: #ddd;
  /*background-color: #333;*/
  padding: .5em;
}

.tagbox-container {
    background-color:#eee ;
    border-bottom: 3px solid #ccc;
}


/* like a close window element */
.pull-up-right {
    margin-top: -.5em;
    float: right;
}

/* like a dialog icon */
.glyphicon-float-left {
  float: left ;
  display: block;
  font-size: 150% ;
  margin-top: -.2em;
}
.glyphicon-float-right {
  float: right ;
  font-size: 80% ;
  margin-top: -.5em;
}

/* page sections: style snippets from old bootstrap h2 */
h2.oldstyle {
  font-family: "Droid Sans", Calibri, Ubuntu, sans-serif;
  font-weight: bold;
  /*font-size: 2.5em;*/
}
/* collapsible sections */
h2.ccsection {
  padding-top: 1em;
  font-size: 1.5em;
  font-family: "Droid Sans", Calibri, Ubuntu, sans-serif;
  font-weight: bold;
}

/* big categories: like form sections etc. */
h3.formcat {
  font-size: 20px;
  padding-top: 1em;
  font-weight: bold;
  color: #910;
}

h3.formcatfirst {
  font-size: 20px;
  margin-top: .2em;
  font-weight: bold;
  color: #910;
}

.raw-responses {
  font-family: Calibri, sans-serif ;
  font-size: 80%;
  line-height: 90% ;
  background-color: #554;
  color: white;
  padding-bottom: 3em
}


/* "accordeon": collapsible formcats */
div.ccsection-wrap {
    margin: 0 ;
    padding: 0 ;
    background-color: transparent;
}
a.ccsection-toggle  {
    margin: 0 ;
    padding: 0 ;
}
a.ccsection-toggle:hover, a.ccsection-toggle:focus {
    text-decoration: none;
}
.ccsection-toggle h2.ccsection, .ccsection-toggle:focus h2.ccsection {
    color: #333 ; /* passive: like normal body color */
}
.ccsection-heading:hover h2.ccsection {
    color: #23A ; /* active: like heading color */
    text-decoration: none;
}
div.ccsection-heading {
    padding: 0 1.5em .3em 1.5em ;
    /*width: 25em;*/
    text-align: left;

    /*background-color: transparent;*/
    background-color: #ddd;
    border-radius: .8em .8em 0 0;
}

div.ccsection-uform-body {
    background-color: #ddd;
    border-radius: 0 ;
    padding: 15px 30px 53px 30px;
}

div.ccsection-footer {
    background-color: #ddd;
    border-radius: 0 0 .8em .8em ;
    padding: 0 ;
}

/**/
ul.minilabels {
  padding-top: .5em;
  list-style-type: none;
  font-size: 75% ;
  text-align: left;
  cursor: pointer;
}

li.minilabel {
    font-weight: bold ;
}


/**/
.realperson-challenge {
  float:right;
}
.realperson-text {
  padding: 0 2em;
}
.realperson-regen {
  color: #554 ;
}


/**/
.our-vcard {
    line-height: 110%;
}


/**/
.smallspacerrow {
  height: 2em;
}

.spacerrow {
  height: 8em;
}

.bigspacerrow {
  height: 15em;
}


/* the main validation message (a special legend) */
#main_message {
  color: white ;
  font-size: 140%;
  text-align:center;
  line-height: 1.5em;

  background-color: #333 ;
  border-radius: .2em;
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid #ddd;

  display: none;

  -webkit-transition: opacity 1s ease;
}

#main_message.faded {
    opacity: 0;
}


@media(max-width:991px){
    /* sm and md */
    #main_message {
      font-size: 110%;
      line-height: 1em;
      padding: .1em .3em ;
      margin: 0;
    }
}


/* the picture preview */
#box_show_pic {
    background-color: #554;
    border: none ;
    width:250px;
    height:250px;
    margin-bottom: 2em;
    display: none;
}

/* styled via cmxClt.uform.checkShowPic js in static/js/comex_user_shared.js */
#show_pic {
}


/*Show middlename button*/
#btn-midname {
    opacity: .8;
}
