/* ====================== MAIN COMEX STYLESHEET ====================== */


@media all{

.white { color:#fff ;}
.red   { color:#910 ;}
.green { color:#161 ;}
.grey  { color:#554 ;}
.lgrey { color:#ddd ;}
.orange{ color:#F96 ;}
.blue  { color:#23A ;}


/* classic look */
body {
  margin: 0;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
  /*letter-spacing: -0.04em;*/
  color: #333;
  background-color: #fff;
  line-height: .9em;
  font-size: 12px;
}

.center {
    text-align: center;
}

.comex-nav-item {
    vertical-align: middle;
    line-height: 2em;
    height: 2em;
    margin-top: .2em;

    /* good for scaffolding
    border: 2px solid white;
    */
}

/* just like bs "topbar > li.dropdown > a" but planned for divs with onclick */
.dropdown-a-like {
    font-size: 14px;
    clear: both;
    padding: 4px 15px;
    color: #999;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.dropdown-a-like:hover {
    background-color: #191919;
    background-image: linear-gradient(top, #292929, #191919);
    color: #fff;
}

/* for buttons/divs/spans looking like links */
.link-like {
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
}
.link-like {
    color: #23527c;
    text-decoration: underline;
}

/* main center column */
div.my-centering-box {
    padding:0 20px;
    line-height: 1.1em;
    text-align: left;
    /*background-color: pink ;*/
}

div.my-centering-box > * {
    /* centering effect on all children */
    margin-left: auto;
    margin-right: auto;
    max-width: 70em; /* >= FORMWIDTH */
    /*background-color: red !important ;*/
}

.page {
  margin-top: 45px;   /* topbar height is 40px */
  -webkit-transition: opacity .2s ease-out;
}

.panel-body {
    padding: 5px 15px;
}

/* paragraph, for intro text */
.mini-hero {
  margin-top: 5px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: .3em;
}

.sub-hero {
  margin-top: 2em;
  line-height: 110%;
}

.small-item {
    font-size: 13px;
}

/* div, for message main text */
.message-hero {
  margin-top: 28px;
  font-size: 18px;
  line-height: 25px;
}


#cnil_warning {
  /*text-align: center;*/
}

#information-example {
}


/* sub containers */
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}



/* self-made modals */
.modal.self-made {
    top:25%;
    display: none;

    /* centered */
    width: 700px;
    left:50%;
    margin-left: -350px;

    opacity: 0;
    overflow: visible;  /* otherwise mysteriously cut by smth */
}

.modal-title {
  font-size: 16px;
  margin-top: .2em;
  font-weight: bold;
  color: #910;
}

/* cookie panel */
.cookie-panel {
    bottom: 0;
    width: 100%;
    position: fixed;
    margin-bottom: 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    z-index: 3;
    /*-webkit-transition: height .2s ease-out;*/
    /*overflow: visible;*/
}

.framed-text {
    padding: 3px 3px 2px 3px;
    border: solid 1.25px #333;
    border-radius: 2px;
}


/* operation buttons for instance add middle name, remove box, etc */
.operation {
  color: #ffc ;
  cursor: pointer;
}
.operation:hover {
  color: #23A;
  text-shadow: .2px .3px #333;
}

/* same on dark background */
.operation-light {
  color: #979797 ;
  cursor: pointer;
}
.operation-light:hover {
  color: rgb(170,255,120);
  text-shadow: .2px .3px #eee;
}

/* same on white background */
.operation-dark {
  color: #333 ;
  cursor: pointer;
}
.operation-dark:hover {
  color: #23A;
  text-shadow: .2px .3px #333;
}


.navlink, .navlink:focus {
  font-size: 1.2em;
  font-weight: bold;
  margin: 3px 0 0 6px;
  background-color: transparent !important;
}

.navlink:hover {
  color: white;
  background-color: transparent !important;
}

.nav>li>a:focus {
  background-color: transparent !important;
}

/* for code blocks or urls */
.code {
  font-family: "Fira Mono", "Droid Sans Mono", monospace;
  font-weight: 500;
  font-size: 75% ;
  background-color: #ACA;
  padding: .2em;
  border-radius: .2em;
}

/* for delete user */
.big-warning {
  font-size:1.7em;
  font-weight: bold;
  color: #910 ;
  padding: .5em 1em 2em 1em;
  line-height: 1.6em;
}


/* like a close window element */
.pull-up-right {
    margin-top: -.5em;
    float: right;
}

/* like a dialog icon */
.glyphicon-float-left {
  float: left ;
  display: block;
  font-size: 150% ;
  margin-top: -.2em;
}
.glyphicon-float-right {
  float: right ;
  font-size: 80% ;
  margin-top: -.5em;
}



/* big categories */
h2.cat {
  font-size: 24px;
  font-family: "Droid Sans", Calibri, Ubuntu, sans-serif;
  padding-top: 1em;
  font-weight: bold;
  color: #910;
}

h2.catfirst {
  font-size: 24px;
  margin-top: .2em;
  font-weight: bold;
  color: #910;
}


/* page sections: style snippets from old bootstrap h2 */
h2.oldstyle {
  font-size: 24px;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
}


h2.oldstyle.maintitle {
  margin-left: -.5em;
  font-size: 27px;
}

/* "accordeon": collapsible formcats */
div.ccsection-wrap {
    margin-top: 0 ;
    margin-bottom: 0 ;
    padding: 0 ;
    border: none;
    background-color: transparent;
}
a.ccsection-toggle  {
    margin-top: 0 ;
    margin-bottom: 0 ;
    padding: 0 ;
}
a.ccsection-toggle:hover, a.ccsection-toggle:focus {
    text-decoration: none;
}

h2.ccsection {
  padding-top: 1em;
  font-size: 1.5em;
  font-family: "Droid Sans", Calibri, Ubuntu, sans-serif;
  font-weight: bold;
}

/* uform with bg has already enough padding */
/*uform > h2.ccsection {
  padding: 0;
  margin: 0
}*/

.ccsection-toggle h2.ccsection, .ccsection-toggle:focus h2.ccsection {
    color: #333 ; /* passive: like normal body color */
}
.ccsection-heading:hover h2.ccsection {
    color: #23A ; /* active: like heading color */
    text-decoration: none;
}
div.ccsection-heading {
    padding: 0 1.5em .3em 1.5em ;
    /*width: 25em;*/
    text-align: left;

    /*background-color: transparent;*/
    background-color: #ddd;
    border-radius: .8em .8em 0 0;
}

div.ccsection-uform-body {
    background-color: #ddd;
    border-radius: 0 ;
    padding: 5px 15px 20px 15px;
}

div.ccsection-footer {
    background-color: #ddd;
    border-radius: 0 0 .8em .8em ;
    padding: 0 ;
}


/* main DIRECTORY MAP actions */
.actions {
    display: block;
}

/* "carte de visite" */
.our-vcard {
    line-height: 110%;
    background-color:#fff;
    border-radius: .3em;
    padding: 2em 1em .3em 1em;
    margin: 2em ;
    border: 2px solid #555;
    max-width: 35em;
}
.our-vcard img {
    float:left;
    width: 90px;
    position: relative;
    margin: -7px 10px 5px 5px;
}

.our-vcard ul {
    list-style: none;
}

/*in directory view*/
.full-directory {
    margin: 70 25 0 25;
}
.container.inner {
    width: 100%;
}
.scholar-row {
    margin: 0 0 22px 0;
}
.org-row {
    margin: 0 0 15px 0;
}
.interests-of-scholar p {
    font-size: 1.2em !important;
    line-height: 1.3em !important;
    margin-top: -.5em;
}
.keywords-of-scholar {
    /*margin-top: 10px; (aligned with name)*/
    /*margin-top: 38px; (aligned with jobtitle)*/
    margin-top: 17px;  /*(middle)*/
}
.url-of-scholar {
    margin-top: .5em;
}

.pic-of-scholar {
    /*margin: 7px 25px 15px 0px;*/
}
.labs-of-scholar {
    font-style: italic;
}
.institutions-of-scholar {
    /*font-variant: small-caps;*/
    font-family: sans;
}

.rel-inst-locname {
    font-size: 90%;
}


.chart-row {
    margin: 0 0 35px 0;
}
.directory-piechart {
    /*width: 70%;*/
    height: 300px;
    margin: 0 auto;
}

/**/
.bigger {
    font-size: 150%;
}


/**/
.smallspacerrow {
  height: 2em;
}

.spacerrow {
  height: 8em;
}

.bigspacerrow {
  height: 15em;
}

/* spacer columns tend to block what's underneath when hidden-foo-down */
.spacer, .hidden-sm-down, .hidden-md-down {
    z-index: -1;
}

footer {
    line-height: 1.1em;
    font-size: .9em;
}

}


/* sm and smaller */
@media(max-width:768px){
    .page {
      margin-top: 60px;   /* topbar height increased as elts stack inside it */
    }

    div.my-centering-box {
        padding:0 7px;
        line-height: .85em;
    }

    h2.cat, h2.oldstyle {
      font-size: 22px !important;
    }
}

/* xs and smaller */
@media(max-width:544px){
    .page {
      margin-top: 75px;   /* topbar height increased as elts stack inside it */
    }

    h2.cat, h2.oldstyle {
      font-size: 16px !important;
    }
}
