.white { color:#fff ; }
.red   { color:#910 ; }
.green { color:#161 ; }
.grey  { color:#554 ; }
.orange  { color:#F96 ; }
.blue  { color:#23A ; }




/* classic look */
body {
  margin: 0;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: -0.03em;
  color: #333;
  background-color: #fff;
  line-height: .85em;
}


/* reg, profile, login, etc.... */
div.uform {
  background-color: #ddd;
  padding: 20px 40px 70px 40px;
  margin: 50px 50px 10px 50px;
}

p#doors_ret_msg {
    font-weight: bold;
    text-shadow: 2px;
}

/* not used at present but could be useful for autompleted inputs */
.autocomp {
}


.page {
  margin-top: 45px;   /* topbar height is 40px */
}

/* for intro text */
.mini-hero {
  margin-top: 7px;
  font-size: 20px;
  line-height: 27px;
  font-family: "Droid Sans", Calibri, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: .3em;
}


/* a "subpage" container */
.subpage {
  width: 100%;
  max-width: 65em;
  display: none ;  /*switching page <=> displaying it */
}


.cartouche {
  border: .4em dotted #988 ;
  border-radius: 2em;
  padding: 1em 3em;
  text-align: center;
}


/* ==> a question + input block <== */
.question {
  padding: 0 1em;
  margin-bottom: 2em;
  max-width: 52em;           /* FORMWIDTH */
}

.conditional-q {
  display: none;
}

input.readonly {
    color: #fff;
    font-weight: bold;
    background-color: #303030 !important;
}

#cnil_warning {
  /*text-align: center;*/
}

/* form operation buttons for instance add middle name */
.operation {
  color: #554 ;
}


.navlink {
  font-size: 1.2em;
  font-weight: bold;
  margin: 3px 0 0 6px;
}

.navlink:hover {
  background-color: transparent !important;
}

/* small label inside addon group*/
.smlabel {
  min-width: 7.5em;
}

/* the question's additional legend or caption */
.legend {
  font-family: Cambria, serif;
  color: #554 ;
  font-style: italic;
  text-align:right;
  padding: .5em 0 .5em .5em ;
  margin: 0;
}

/* floats on the right of the question if set after it */
.legend-float {
  float:right;
  text-align:center;
  font-size: 70%;
  padding-right: 2.1em;
}

input#my-captcha{
    height: 5em;
    font-size: .8em;
}

/* for code blocks or urls */
.code {
  font-family: "Fira Mono", "Droid Sans Mono", monospace;
  font-weight: 500;
  font-size: 75% ;
  background-color: #ACA;
  padding: .2em;
  border-radius: .2em;
}

/* like a dialog icon */
.glyphicon-float-left {
  float: left ;
  font-size: 150% ;
  vertical-align:text-top;
}

/* page sections: style snippets from old bootstrap h2 */
h2.oldstyle {
  font-family: "Droid Sans", Calibri, Ubuntu, sans-serif;
  font-weight: bold;
  /*font-size: 2.5em;*/
}

/* big categories: like form sections etc. */
h3.formcat {
  font-size: 20px;
  padding-top: 1em;
  font-weight: bold;
  color: #910;
  /*TODO accordeon*/
}

h3.formcatfirst {
  font-size: 20px;
  margin-top: .2em;
  font-weight: bold;
  color: #910;
}

.raw-responses {
  font-family: Calibri, sans-serif ;
  font-size: 80%;
  line-height: 90% ;
  background-color: #554;
  color: white;
  padding-bottom: 3em
}


/**/
ul.minilabels {
  padding-top: .5em;
  list-style-type: none;
  font-size: 75% ;
  text-align: left;
  margin-left: 32%;
}

li.minilabel {
    font-weight: bold ;
}


/**/
.realperson-challenge {
  float:right;
}
.realperson-text {
  padding: 0 2em;
}
.realperson-regen {
  color: #554 ;
}


/**/
.smallspacerrow {
  height: 2em;
}

.spacerrow {
  height: 8em;
}

.bigspacerrow {
  height: 15em;
}


/* the main validation message (a special legend) */
#main_message {
  color: white ;
  font-size: 140%;
  text-align:center;
  line-height: 1.5em;

  background-color: #988 ;
  border-radius: 2em;
  padding: 1em 3em;
  margin-bottom: 2em;
}


/* the picture preview */
#box_show_pic {
    background-color: #554;
    border: none ;
    width:250px;
    height:250px;
    margin-bottom: 2em;
    display: none;
}

/* styled via cmxClt.uform.checkShowPic js in static/js/comex_user_shared.js */
#show_pic {
}


/*Show middlename button*/
#btn-midname {
    opacity: .8;
}
