/*
.sigma-expand {
    position: relative;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    
    background-color: #f0f0f8; 
    background-image: -webkit-radial-gradient(#ffffff, #d8d8e0); background-image: -moz-radial-gradient(#ffffff, #d8d8e0);
}*/

#tabs .ui-tabs-nav { 
    height: 2.35em; 
    text-align: left; 
} 
#tabs .ui-tabs-nav li { 
    display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em; 
}

            .sigma-parent {
                position: relative;
                border-radius: 0px;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                height: 500px;
            }
            .sigma-expand {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #f0f0f8; 
                background-image: -webkit-radial-gradient(#ffffff, #d8d8e0); background-image: -moz-radial-gradient(#ffffff, #d8d8e0);
            }

#toolbox {
    background-color: white;
    width: 300px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 0px;
    top: 30px;
    color: #5c5555;
    border-radius: 0px 5px 5px 0px;
}

#toolbox input {
    border: 1px solid #000000;
    background-color: #fff;
    padding: 5px 7px 4px 7px;
    width: 164px;
    color: #000;
}

#toolbox #move {
    height: 15px;
    margin-top: 5px;
    float: right;
}

#toolbox .moveoption {
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
}

#toolbox #cancel {
    background-image: url('../img/cancel.png');
}

#toolbox #in {
    background-image: url('../img/zoom_in.png');
}

#toolbox #out {
    background-image: url('../img/zoom_out.png');
}

#toolbox #center {
    background-image: url('../img/stop.png');
}

#toolbox #infos {
    text-align: justify;
}

#toolbox .moveoption {
    cursor: pointer;
}

#toolbox h1 {
    font-size: 1.3em;
    border-top: 2px solid black;
    padding-top: 3px;
    color: black;
}

#toolbox h2 {
    color: black;
    font-size: 1.1em;
}

#toolbox #context {
    border-top: 2px solid black;
    margin-top: 5px;
}

#toolbox #textearticle {
    max-height: 250px;
    overflow: auto;
}

#toolbox #context ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 10px;
    max-height: 300px;
    overflow: auto;
}

#toolbox #context li {
    border-radius: 2px 2px 2px 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#toolbox #context li:hover {
    background-color: #5c5555;
    color: white;
}

#toolbox .linkarticle {
    cursor: pointer;
    padding: 2px 2px 2px 2px;
}

#toolbox #search {
    border-radius: 5px 5px 5px 5px;
    background-color: #e5dcdc;
    color: #746c6c;
}

#toolbox #search:focus {
    background-color: white;
    color: black;
    box-shadow:1px 1px 2px #5c5555;
}

#toolbox #searchbutton {
    cursor: pointer;
}

#toolbox #legend {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 3px;
    font-size: smaller;
    color: #a09a9a;
}

#toolbox #legend a {
    font-weight: bold;
    color: black;
}


#helpbutton {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}

#help {
    display: none;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%; 
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    text-align: justify;
}

#help a {
    font-weight: bold;
    color: black;
}

#help h1 {
    font-size: 1.3em;
    border-top: 2px solid #5c5555;
    padding-top: 3px;
    color: #5c5555;
}

#help #footerhelp {
    text-align: right;
    font-size: 1.1em;
}

#help #closewindow {
    color: #5c5555;
    cursor: pointer;
}

#help #closeimage {
    float: right;
    position:relative; 
    top: -20px; 
    right: -20px;
}

.ui-menu-item {
    color: gray;
}

.ui-state-hover {
    color: black; 
}

.labelresult {
    font-weight: bold;
}

.ui-autocomplete {
    list-style-type: none;
    width: 200px;
    background-color: white;
    border: 1px solid #5c5555;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    border-radius: 3px 3px 3px 3px;
}

#loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

