/* ---------------- crowdsourcingTerms module ----------------------- */

#crowdsourcing_answer{
  font-size: 85%;
  color: #707070 ;
  padding:0 1em ;
  text-align:center ;
}

#crowdsourcing_answer p {
  margin: 2px 0;
}

#savesuggestion.btn[disabled], #savesuggestion.btn.disabled {
  background-color: #B0B0B0 ;
  background-image: none ;
  border: 1px solid #909090 ;
}
