{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Profile</title>
  <meta name="description" content="Community Explorer Wall">
  <meta name="keywords" content="community, user profiles, data exploration">

  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/comex_alt.css') }}">


  <!-- for #mini-explorer -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='explorerlibs/jquery/jquery-ui.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='explorerlibs/css2/freshslider.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='explorerlibs/css2/custom.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='explorerlibs/css2/sidebar.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='explorerlibs/bootswatch/css/bootswatch.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='explorerlibs/css2/font.css') }}" type="text/css"> -->

  <!-- for news vertical marquee -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.vticker-min.js') }}"></script>

  <script type="text/javascript">
  $(function(){
      $('#news-container').vTicker({
          speed: 700,
          pause: 6000,
          animation: 'fade',
          mousePause: false,
          showItems: 1
      });
  });
  </script>


{% endblock %}

<!-- ======================================================================= -->

{% block incipit %}
<!-- for facebook like -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}


{% block main_content %}
    <!-- <div class="row spacerrow">&nbsp;</div> -->

    <!-- INTRO 1 -->
    <div class="row">
      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>

      <!-- ##################### ( WELCOME ) #################### -->
      <div class="my-box col-lg-9 col-md-9 col-sm-12">
        <div id="loading" style="padding-left:-175px; margin-left: 27%;">
            <img src="/static/css/loading.gif" style="border: 0px; opacity: 0.05; " />
        </div>
        <h2 class="oldstyle">Welcome to the complex systems community explorer</h2>

      </div>
      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>

    <!-- INTRO 2 -->
    <div class="row">
      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>

      <!-- ### ( 1 big column for directory search ) ### -->
      <div class="my-box col-lg-6 col-md-6 col-sm-12">

          <p class="mini-hero">
            Map your own socio-semantic network or explore sub-communities using the <strong> interactive menu</strong> on the top of the webpage. Use the "refine" filters to select keywords and scholars matching your subjects of interests.
            <br/>
            <br/>
            The integration of <a href="/print_jobs_directory.php" target="blank">job openings</a> in maps aims at increasing the visibility of new positions or new candidates. <small>[ <a href="/jobmarket.html">more</a> ]</small>
          </p>

          <p class="sub-hero">
              <!--<form>-->
              <input type="text" id="searchname" class="input-lg name" style="display:inline-block;" placeholder="Your last name">
              <input type="hidden" id="searchlogin" value="">
              <img src="/static/css/branding/big_arrow.png" alt="" style="border: none; margin: 0 2px 5px 0;" title="" />
              <button id="print2" class="btn btn-small btn-primary">
                  DIRECTORY
              </button>
              &nbsp;OR&nbsp;
              <button id="generate2" class="btn btn-small btn-primary">
                  MAP
              </button>
              <!--<a id="printname" href="#"> <strong>PRINT</strong></a>-->
          </p>
          <p class="sub-hero">
              <span class="glyphicon glyphicon-user"></span>
              <strong>You cannot find yourself</strong> in the database ?
              <button id="register" class="btn btn-mini btn-success">
                  Register
              </button>
          </p>

          <p class="sub-hero">
              <span class="glyphicon glyphicon-user"></span>
              <strong>You to want update your data or keywords ?</strong>
                  <a href="/services/user/profile/">Edit your profile</a>, the database is updated instantly.
          </p>
          <p class="sub-hero">
              <span class="glyphicon glyphicon-info-sign"></span>
              View our <a href="/tips.html">tips</a> for best experience. This directory is <strong>open</strong> to everybody working in the field of Complex Systems science and Complexity science. Map and explore communities or generate a printable version of their directory.
               Updated every few minutes.

               <br/>
               <!--    <span class="glyphicon glyphicon-th-list"></span> Personal data are given on a voluntary basis and people are responsible for the validity and integrity of their data. <br/>

               <span class="glyphicon glyphicon-repeat"></span> Suggestions or comments ? <a href="http://moma.csregistry.org/feedback"  target="BLANK">Please feedback.</a> <br/> -->
           </p>
      </div>
      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
      <!-- ### ( 1 small column for news and announcements ) ### -->
      <div class="my-box col-lg-3 col-md-3 col-sm-12">
          <h2 class="oldstyle" style="font-size:1.5em;margin-top:1.5em;text-align:center;">
              Special features
          </h2>
           <div id="news-container">
               <ul>
                   <li><a href="/jobmarket.html">Soon a better job market integration: </a> announce new jobs and find people looking for a job</li>
                   <li><a href="/community_tags.html">Community tags:</a> Map any workgroup or event audience and get the associated directory.</li>
                   <li>This beta version of Community Explorer 2 is open source!</a> For sysadmins, it's easy to deploy a new server like this one using docker (<a href="https://github.com/moma/comex2/tree/master/setup/dockers">more info</a>).</li>
               </ul>
           </div>
             <br/>
             <center>
                 <iframe src="https://player.vimeo.com/video/38383946" width="300" height="170" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
             </center>

           <br/><br/>
      </div>
      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>

    <div class="row smallspacerrow">&nbsp;</div>

    <!-- INTRO foot (social media likes etc) -->
    <div class="row">
      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
      <div class="my-box col-lg-9 col-md-9 col-sm-12">
          <a href="https://twitter.com/intent/tweet?button_hashtag=communityexplorer&text=Map%20your%20%23network%2C%20explore%20the%20worldwide%20%23complexsystems%20%23community%20at%20all%20scales.%20%23dataviz" class="twitter-hashtag-button" data-url="http://communityexplorer.org">Tweet #communityexplorer</a>

          &nbsp;

          <div class="fb-like" data-href="http://www.communityexplorer.org" data-width="300" data-layout="standard" data-action="like" data-show-faces="false" data-share="false">
          </div>

      <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>



    <!-- ##################### ( notebook banners ) #################### -->


    <!-- colored notebook section: EXPLORE -->
    <div class="row spacerrow">&nbsp;</div>
    <div class="row banner-row" style="background-color:#00B4E6">
        <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
        <div class="col-lg-3 col-md-3 col-sm-10">
            <div class="panel panel-primary action-announce">
                <div class="panel-body">
                    <div class="cmx-action-wrap">
                        <img src="{{ url_for('static', filename='img/action_explore.png') }}"
                            class="cmx-action">
                    </div>
                    <h2 class="oldstyle">Graph Explorer</h2>
                    <p class="mini-hero">
                        Use our explorer view to browse the map of the community.
                        <br/>
                        <br/>
                        (It's a <strong> network of scholars </strong> connected by their research subjects.)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-10 wwwpanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="pull-up-right">
                        <a target="_blank" href="/explorerjs.html?type=%22filter%22&nodeidparam=%22%257B%257D%22">
                            <span class="glyphicon glyphicon-new-window"></span>
                            Open in another tab
                        </a>
                    </p>
                </div>
                <div class="panel-body wwwthumb">
                    <iframe src="/explorerjs.html?type=%22filter%22&nodeidparam=%22%257B%257D%22" class="wwwthumbsmall" frameborder="0" scrolling="yes">
                        <p>Your web browser doesn't support iframes. :(</p>
                   </iframe>
                </div>
            </div>
        </div>
        <div class="spacer col-lg-1 col-md-2 hidden-sm-down">&nbsp;</div>
    </div>


    <!-- white notebook section: PROFILE -->
    <div class="row spacerrow">&nbsp;</div>
    <div class="row banner-row" style="background-color:#fff">
        <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
        <div class="col-lg-3 col-md-3 col-sm-10">
            <div class="panel panel-primary action-announce">
                <div class="panel-body">
                    <div class="cmx-action-wrap">
                        <img src="{{ url_for('static', filename='img/action_profile.png') }}"
                            class="cmx-action">
                    </div>
                    <h2 class="oldstyle">Sharing your "carte de visite"</h2>
                    <p class="mini-hero">
                        Add your keywords and you will be plotted in the map

                        <br/>Selecting you will flash a visit card like this:
                        <div id="information-example">
                            <br><h4>Information:</h4><ul><li><b>Dr. Jacques Monod</b></li><li><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Jacques_Monod_nobel.jpg" width="80px" style="float:left;margin:5px"><b>Country: </b>France<br><b>Position: </b>Research Director<br><b>Keywords: </b>emergence, biology, systems biology, autopoiesis, biochemistry.<br>[ <a href="https://fr.wikipedia.org/wiki/Jacques_Monod" target="blank"> View homepage </a>]<br></li></ul><br>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-10">
            <div class="panel panel-default wwwpanel">
                <div class="panel-heading">
                    <p class="pull-up-right">
                        <a target="_blank" href="/services/user/{% if current_user.info %}profile{% else %}register{% endif %}">
                            <span class="glyphicon glyphicon-new-window"></span>
                            Open in another tab
                        </a>
                    </p>
                </div>
                <div class="panel-body wwwthumb">
                    <iframe src="/services/user/{% if current_user.info %}profile{% else %}register{% endif %}" class="wwwthumb" frameborder="0" scrolling="yes">
                        <p>Your web browser doesn't support iframes. :(</p>
                   </iframe>
                </div>
            </div>
        </div>
        <div class="spacer col-lg-1 col-md-2 hidden-sm-down">&nbsp;</div>
    </div>


    <!-- coloured notebook section: STATS -->
    <div class="row spacerrow">&nbsp;</div>
    <div class="row banner-row" style="background-color:#FAB612">
        <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
        <div class="col-lg-3 col-md-3 col-sm-10">
            <div class="panel panel-primary action-announce">
                <div class="panel-body">
                    <div class="cmx-action-wrap">
                        <img src="{{ url_for('static', filename='img/action_stats.png') }}"
                            class="cmx-action">
                    </div>
                    <h2 class="oldstyle">Analyze the community structure and trends</h2>
                    <p class="mini-hero">
                        Our pie-chart directories allow you to explore <strong>scholars</strong>, <strong>keywords</strong> and <strong>affiliations</strong> statistics for any query.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-10">
            <div class="panel panel-default wwwpanel">
                <div class="panel-heading">
                    <p class="pull-up-right">
                        <a target="_blank" href="/print_directory.php?query=%7B%7D">
                            <span class="glyphicon glyphicon-new-window"></span>
                            Open in another tab
                        </a>
                    </p>
                </div>
                <div class="panel-body wwwthumb">
                    <iframe src="/print_directory.php?query=%7B%7D" class="wwwthumb" frameborder="0" scrolling="yes">
                        <p>Your web browser doesn't support iframes. :(</p>
                   </iframe>
                </div>
            </div>
        </div>
        <div class="spacer col-lg-1 col-md-2 hidden-sm-down">&nbsp;</div>
    </div>



        <!-- white notebook section: QUERY -->
        <!-- <div class="row spacerrow">&nbsp;</div>
        <div class="row banner-row" style="background-color:#fff">
            <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
            <div class="col-lg-3 col-md-3 col-sm-10">
                <div class="panel panel-primary action-announce">
                    <div class="panel-body">
                        <div class="cmx-action-wrap">
                            <img src="{{ url_for('static', filename='img/action_query.png') }}"
                                class="cmx-action">
                        </div>
                        <h2 class="oldstyle">Refine your search</h2>
                        <p class="mini-hero">
                            Use filters to select keywords and scholars matching your subjects of interests.
                            <ul>
                                <li>countries</li>
                                <li>keywords</li>
                                <li>organizations</li>
                                <li>labs</li>
                                <li>community hashtags</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-10">
                <div class="panel panel-default wwwpanel">
                    <div class="panel-heading">
                        <p class="pull-up-right">
                            <a target="_blank" href="/index.html">
                                <span class="glyphicon glyphicon-new-window"></span>
                                Open in another tab
                            </a>
                        </p>
                    </div>
                    <div class="panel-body wwwthumb">
                        TODO schema with queries'explanations
                    </div>
                </div>
            </div>
            <div class="spacer col-lg-1 col-md-2 hidden-sm-down">&nbsp;</div>
        </div> -->





        <!-- colored notebook section: EXPLORE2 POSS: insert tina inline -->
        <!-- <div class="row spacerrow">&nbsp;</div>
        <div class="row banner-row" style="background-color:#00B4E6">
            <div class="spacer col-lg-1 col-md-1 hidden-sm-down">&nbsp;</div>
            <div class="col-lg-3 col-md-3 col-sm-10">
                <div class="panel panel-primary action-announce">
                    <div class="panel-body">
                        <div class="cmx-action-wrap">
                            <img src="{{ url_for('static', filename='img/action_explore.png') }}"
                                class="cmx-action">
                        </div>
                        <h2 class="oldstyle">Graph Explorer</h2>
                        <p class="mini-hero">
                            Use our explorer view to browse the map of the community.
                            <br/>
                            <br/>
                            (It's a <strong> network of scholars </strong> connected by their research subjects.)
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-lg-7 col-md-7 col-sm-10 wwwpanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="pull-up-right">
                            <a target="_blank" href="/explorerjs.html?type=%22filter%22&nodeidparam=%22%257B%257D%22">
                                <span class="glyphicon glyphicon-new-window"></span>
                                Open in another tab
                            </a>
                        </p>
                    </div>
                    <div class="panel-body wwwthumb">










                        <div class="container container-fluid" id="mini-explorer">
                            <div id="defaultop" class="navbar navbar-default">
                                <div class="navbar-collapse collapse navbar-responsive-collapse">
                                  <div id="left" style="margin:0em 2em;">
                                          <ul class="nav navbar-nav">
                                              <li>
                                                 <a>
                                                   <button type="button" id="changetype" class="btn btn-success btn-sm">Change Type</button>
                                                 </a>
                                              </li>


                                              <li>
                                                 <a>
                                                   <button type="button" id="changelevel" class="btn btn-info btn-sm" disabled>Change Level</button>
                                                 </a>
                                              </li>


                                               <li>
                                                 <a>
                                                  <div style="margin:0em 2em;" id="unranged-value"></div>
                                                  <label style="margin:0em 2em;" for="unranged-value">selector size</label>
                                                 </a>
                                               </li>
                                          </ul>


                                          <ul id="category-A" class="nav navbar-nav navbar-right">
                                                <li>
                                                    <ul style="list-style-type: none; margin:0em 1em;">
                                                        <li><div id="sliderANodeWeight"></div></li>
                                                        <li><div id="sliderAEdgeWeight"></div></li>
                                                        <li><div id="sliderANodeSize"></div></li>
                                                    </ul>
                                                </li>
                                          </ul>

                                          <ul id="filterslegend" class="nav navbar-nav navbar-right">
                                                <li>
                                                    <ul style="list-style-type: none;">
                                                        <li>Nodes</li>
                                                        <li>Edges</li>
                                                        <li>Size</li>
                                                    </ul>
                                                </li>
                                          </ul>

                                          <ul id="category-B" class="nav navbar-nav navbar-right">
                                                <li>
                                                    <ul style="list-style-type: none; margin:0em 1em;">
                                                        <li><div id="sliderBNodeWeight"></div></li>
                                                        <li><div id="sliderBEdgeWeight"></div></li>
                                                        <li><div id="sliderBNodeSize"></div></li>
                                                    </ul>
                                                </li>
                                          </ul>

                                          <ul class="nav navbar-nav navbar-right">
                                             <li><a>
                                                      <input type="checkbox" id="checkboxdiv" onclick="alertCheckBox(this);">Add</input>
                                             </a></li>
                                          </ul>
                                          <ul class="nav navbar-nav navbar-right">
                                             <li><a>
                                                      <input id="searchinput"  autocomplete="off" class="form-control input-sm col-lg-8" placeholder="Search" type="text">
                                             </a></li>
                                          </ul>

                                          <ul id="colorGraph" class="nav navbar-nav navbar-right">
                                             <li class="dropdown">
                                               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                      <img title="Set Colors" src="{{ url_for('static', filename='explorerlibs/img2/colors.png') }}" width="20px"><b class="caret"></b></img>
                                               </a>
                                              <ul class="dropdown-menu">
                                                <li><a href="#" onclick='clustersBy("country")'>By Country</a></li>
                                                <li><a href="#" onclick='clustersBy("acronym")'>By Acronym</a></li>
                                                <li><a href="#" onclick='clustersBy("default")'>By Default</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"> <span class="glyphicon glyphicon-repeat"></span> <strike>Properties</strike></a></li>
                                              </ul>
                                             </li>
                                          </ul>



                                        </div>
                                </div>
                            </div>


                            <div id="wrapper">


                              <div id="zonecentre">


                                  <div id="sigma-example"></div>

                                  <div style="visibility: hidden;" id="sigma-othergraph"></div>

                                  <div id="semLoader" style="position:absolute; top:50%; left:40%; width:80px; visibility: hidden;">
                                    <img src="{{ url_for('static', filename='explorerlibs/img2/loading-bar.gif') }}"></img>
                                  </div>

                                  <ul id="ctlzoom">

                                           <li>
                                              <div id="unfold">
                                                  <a href="#" id="aUnfold" class="rightarrow"></a>
                                              </div>
                                          </li>

                                           <li>
                                              <a href="#" id="geomapicon" onclick="$('#geomapmodal').modal('show'); callGeomap();">
                                                <img title="World Map Distribution" width="34px" src="{{ url_for('static', filename='explorerlibs/img2/world.png') }}"></img>
                                              </a>
                                          </li>


                                           <li>
                                              <a href="#" id="snapicon" onclick="saveGraphIMG();" >
                                                <img title="Take a photo!" width="34px" src="{{ url_for('static', filename='explorerlibs/img2/camera.png') }}"></img>
                                              </a>
                                          </li>

                                           <li>
                                              <a href="#" id="saveAs">
                                                <img width="30px" title="Save As..." src="{{ url_for('static', filename='explorerlibs/img2/save.png') }}"></img>
                                              </a>
                                          </li>

                                          <li>
                                              <a href="#" id="zoomPlusButton" title="S'approcher"> </a>
                                          </li>

                                          <li id="zoomSliderzone">
                                              <div id="zoomSlider"></div>
                                          </li>

                                          <li>
                                              <a href="#" id="zoomMinusButton" title="S'éloigner"> </a>
                                          </li>


                                          <li>
                                              <a href="#" id="lensButton"> </a>
                                          </li>

                                          <li>
                                              <a href="#" id="edgesButton"> </a>
                                          </li>
                                  </ul>
                              </div>


                              <div id="leftcolumn">
                                <div id="tips"></div>
                                <div id="names"></div>

                                <br>
                                <div id="tab-container" class='tab-container' style="display: none;">

                                   <ul class='etabs'>
                                     <li id="taboppos" class='tab'><a href="#tabs1">Opposite-Neighbors</a></li>
                                     <li id="tabneigh" class='tab'><a href="#tabs2">Neighbors</a></li>
                                   </ul>

                                   <div class='panel-container'>
                                      <div id="tabs1">
                                        <div id="opossiteNodes"></div>
                                      </div>
                                      <div id="tabs2">
                                        <div id="sameNodes"></div>
                                      </div>
                                   </div>

                                </div>

                                <div id="information"></div>
                              </div>

                            </div>
                        </div>













                    </div>
                </div>
            </div>
            <div class="spacer col-lg-1 col-md-2 hidden-sm-down">&nbsp;</div>
        </div> -->





{% endblock %}

<!-- ======================================================================= -->

{% block last_imports %}
    <script type="text/javascript">
        //               ---------
        // a copy of the user info in json
        //               ---------
        var uinfo = {{ (current_user.json_info | safe) if current_user.info else ("null" | safe) }};
    </script>

    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_user_shared.js') }}"></script>




      <!-- for #mini-explorer -->
<!--
          <script src="{{ url_for('static', filename='explorerlibs/jquery/jquery-1.10.2.js') }}" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='explorerlibs/jquery/jquery-ui.js') }}" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='explorerlibs/jquery/jquery.ba-dotimeout.min.js') }}" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='explorerlibs/jquery/jquery.mousewheel.min.js') }}" type="text/javascript"></script>

          <script type="text/javascript" src="{{ url_for('static', filename='explorerlibs/freshslider.1.0.js') }}"></script>
          <script src="{{ url_for('static', filename='explorerlibs/readmore.js') }}" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='explorerlibs/jquery/jquery.easytabs.min.js') }}" type="text/javascript"></script>

          <script src="{{ url_for('static', filename='explorerlibs/bootstrap/js/bootstrap.min.js') }}"></script>
          <script src="{{ url_for('static', filename='explorerlibs/bootswatch/js/bootswatch.js') }}"></script>
          <script src="{{ url_for('static', filename='explorerlibs/bootstrap/js/bootstrap-modal.js') }}" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='explorerlibs/bootstrap/js/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>

          <script src="{{ url_for('static', filename='tinawebJS/globalUtils.js') }}" type="text/javascript"></script>

          <script src="{{ url_for('static', filename='explorerlibs/geomap2/js/raphael/raphael-min.js') }}" charset="utf-8" ></script>
          <script src="{{ url_for('static', filename='explorerlibs/geomap2/js/jquery.mapael.js') }}" charset="utf-8" ></script>
          <script src="{{ url_for('static', filename='explorerlibs/geomap2/js/maps/world_countries.js') }}" charset="utf-8" ></script>
          <script src="{{ url_for('static', filename='explorerlibs/geomap2/examples.js') }}" charset="utf-8" ></script>
          <script src="{{ url_for('static', filename='explorerlibs/geomap2/js/countries_iso3166.js') }}" charset="utf-8" ></script>
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='explorerlibs/geomap2/css/geo.css') }}" />


          <script src="{{ url_for('static', filename='tinawebJS/sigma.min.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/sigma.forceatlas2.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/settings_explorerjs.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/sigma.parseCustom.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/extras_explorerjs.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/sigmaUtils.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/methods.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/minimap.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/enviroment.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/asyncFA2.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/DataScanner.js') }}" type="text/javascript" language="javascript"></script>
          <script src="{{ url_for('static', filename='tinawebJS/main.js') }}" type="text/javascript" language="javascript"></script>

        <script type="text/javascript">
            $('#tab-container').easytabs({updateHash:false}); -->
        </script>
{% endblock %}
