<!DOCTYPE html5>
<html lang="fr-FR">
<head>
  <meta charset="utf-8">
  <title>Formulaire Community Explorer : se ré-enregistrer</title>
  <meta name="description" content="Formulaire d'enregistrement sur la plateforme Community Explorer (ISCPIF CNRS UPS 3611)">
  <meta name="keywords" content="complex systems, community, registration form">

  <!-- CSS -->
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/topbar_bootstrap_retrocompatibility.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='js/realperson/jquery.realperson.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/comex_reg.css') }}">

  <!-- ## JS ## -->

  <!--   libs   -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
  <!-- possible to change it and send it each time with makeSalt-->
  <script type="text/javascript">$.salt = 'verylonverylongverylonverylongverylonverylong'</script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/realperson/jquery.plugin.min.js') }}"></script>
  <!-- for some reason jquery.realperson.min.js reacts differently to salt than jquery.realperson.js -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/realperson/jquery.realperson.js') }}"></script>


  <!--  our js is at the end -->

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.iscpif.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//piwik.iscpif.fr/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</head>
<body>
  <div class="topbar" style="opacity: 0.93;">
      <div class="topbar-inner">
          <div class="container-fluid">
              <a class="brand" href="http://www.iscpif.fr">
                <span class="glyphicon glyphicon-home white"></i></a>
              <ul class="white nav navbar-nav">
                  <li>
                      <a id="mainpagelink" href="http://communityexplorer.org/#"> <strong>Complex systems community explorer</strong></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="page container-fluid">
    <div class="row">
      <div class="spacer col-sm-1 col-md-1">&nbsp;</div>
      <div class="my_form_box col-sm-8 col-md-8">

        <!-- INTRODUCTION TEXT -->
        <div id="intro">
          <h2 class="oldstyle">Registration form</h2>
              <p class="mini-hero">
                  <strong>Community Explorer</strong> maps your own socio-semantic network and enables to explore the complex systems researchers community.
                  <br/>
                  <br/>
                  This <strong>registration form</strong> will allow us to update your database information and login credentials. The first page contains the essential informations we need for the map, the following page is optional.
              </p>
        </div>


        <!-- ########################### ( FORM ) ########################## -->
        <form id="comex_reg_form" enctype="multipart/form-data"
              method="post" onsubmit="validateSubmit(event, 'from form', 'register')">

        <!-- todo onsubmit also save to cache -->

        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" onclick="subPage1Style.display='block';subPage2Style.display='none'">1</a></li>
            <li class="page-item"><a class="page-link" onclick="subPage1Style.display='none';subPage2Style.display='block'">2</a></li>
          </ul>
        </nav>


        <div class="subpage" id="subpage_1" style="display:block">

              <!-- NAME & COUNTRY -->
              <h3 class="formcat"> Basic infos </h3>

              <div class="question input-group">
                <label for="first_name" class="smlabel input-group-addon">
                  * First name
                </label>
                <input id="first_name" name="first_name" maxlength="30"
                       type="text" class="form-control" placeholder="prénom"
                       onblur="makeBold(this)" onfocus="makeNormal(this)">
              </div>

              <!-- optionnel -->
              <div id="group-midname" class="question input-group" style='display:none'>
                <label for="middle_name" class="smlabel input-group-addon">
                  Middle name
                </label>
                <input id="middle_name" name="middle_name" maxlength="30"
                       type="text" class="form-control" placeholder="autres prénoms"
                       onblur="makeBold(this)" onfocus="makeNormal(this)">
              </div>

              <div class="question input-group">
                <label for="last_name" class="smlabel input-group-addon">
                  * Last name
                </label>
                <input id="last_name" name="last_name" maxlength="30"
                       type="text" class="form-control" placeholder="nom de famille"
                       onblur="makeBold(this)" onfocus="makeNormal(this)">
              </div>

              <button class="btn btn-xs btn-default operation"
                      title="Add a middle name" id="btn-midname"
                      type="button" style="margin:1em; float:right">
                <span class="glyphicon glyphicon-plus"></span>
                Add middle name
              </button>

              <div class="question input-group">
                <label for="initials" class="smlabel input-group-addon">* Initials</label>
                <input id="initials" name="initials" maxlength="7"
                       type="text" class="form-control" placeholder="initiales">
              </div>

              <div class="question input-group">
                <label for="country" class="smlabel input-group-addon">
                  * Country
                </label>
                <input id="country" name="country" maxlength="60"
                       type="text" class="form-control autocomp"
                       placeholder="pays"
                       onblur="if(this.value=='France'){teamCityDivStyle.display = 'block'} else {teamCityDivStyle.display='none'}">
              </div>

              <!-- EMAIL & PASSWORD -->
              <h3 class="formcat"> Login infos </h3>

              <div class="question">
                <p class="legend">Your email will also be your login for the ISC services.</p>
                <div class="input-group">
                  <!-- email validation onblur/onchange
                            is done by basicEmailValidate
                                   and testDoorsUserExists
                            in comex_reg_form_controllers.js -->
                  <label for="email" class="smlabel input-group-addon">* Email</label>
                  <input id="email" name="email" maxlength="255"
                         type="text" class="form-control" placeholder="email">

                  <!-- doors return value icon -->
                  <div id="doors_ret_message" class="input-group-addon"
                       title="The email will be checked in our DB after you type and leave the box.">
                    <span id="doors_ret_icon"
                          class="glyphicon glyphicon-question-sign grey"
                          ></span>
                  </div>
                </div>
              </div>

              <div class="question">
                <p class="legend">Please make your password difficult to predict.</p>
                <div class="input-group">
                  <label for="password" class="smlabel input-group-addon">* Password</label>
                  <input id="password" name="password" maxlength="30"
                         type="password" class="form-control" placeholder="Create a password">
                </div>
              </div>

              <div class="question">
                <div class="input-group">
                  <label for="password2" class="smlabel input-group-addon">* Password</label>
                  <input id="password2" name="password2" maxlength="30"
                         type="password" class="form-control" placeholder="Repeat the password">
                </div>
                <p id="password_message" class="legend red" style="font-weight:bold"></p>
              </div>

              <!-- JOB & INTERESTS -->
              <h3 class="formcat"> About your job and research </h3>

              <div class="question input-group">
                <label for="jobtitle" class="smlabel input-group-addon">* Job Title</label>
                <input id="jobtitle" name="jobtitle" maxlength="30"
                       type="text" class="form-control autocomp" placeholder="titre"
                       onblur="makeBold(this)" onfocus="makeNormal(this)">
              </div>

              <div class="question">
                <div class="input-group">
                  <label for="keywords" class="smlabel input-group-addon">* Key subjects</label>
                  <input id="keywords" name="keywords" maxlength="350"
                         type="text" class="form-control autocomp" placeholder="keywords">
                </div>
                <p class="legend">Please enter at least 5 comma-separated keywords</p>
              </div>

              <!-- ORGANIZATION -->
              <h3 class="formcat"> About your current organization </h3>

              <div class="question">
                <div class="input-group">
                  <label for="institution" class="smlabel input-group-addon">* Parent Institution</label>
                  <input id="institution" name="institution" maxlength="120"
                         type="text" class="form-control autocomp" placeholder='eg "CNRS" or "University of Oxford"'>
                </div>
              </div>

              <div class="question">
                <div class="input-group">
                  <label for="institution_type" class="smlabel input-group-addon">* Institution Type</label>
                  <select id="institution_type" name="institution_type"
                          class="custom-select form-control"
                          onchange="if(this.value=='other'){otherInstDivStyle.display = 'block'} else {otherInstDivStyle.display='none'}">
                    <option selected value="university">University</option>
                    <option value="public R&amp;D org">Public sector R&amp;D organization</option>
                    <option value="public other org">Other public sector organization</option>
                    <option value="private org">Private sector organization</option>
                    <option value="none">None at the moment</option>
                    <option value="other"
                            onclick="otherInstDivStyle.display = 'block'"
                            >Other</option>

                  </select>
                </div>
                <!-- Other institution type <=> only if previous choice == 5 -->
                <div class="question conditional-q" id="other_institution_div">
                  <div class="input-group">
                    <label for="other_institution_type" class="smlabel input-group-addon">Other type</label>
                    <input id="other_institution_type" name="other_institution_type" maxlength="120"
                           type="text" class="form-control" placeholder="Clarify here the type of your parent institution">
                  </div>
                </div>
              </div>


              <div class="question">
                <div class="input-group">
                  <label for="team_lab" class="smlabel input-group-addon">Lab / Team / Dept</label>
                  <input id="team_lab" name="team_lab" maxlength="50"
                         type="text" class="form-control" placeholder="More detailed affiliation, if relevant">
                </div>
              </div>

              <!-- Lab city <=> only for France -->
              <div class="question conditional-q" id="team_city_div">
                <div class="input-group">
                  <label for="institution_city" class="smlabel input-group-addon">Lab city</label>
                  <input id="institution_city" name="institution_city" maxlength="50"
                         type="text" class="form-control" placeholder="Ville de votre institution">
                </div>
              </div>

          </div> <!-- / end of subpage_1 -->

          <div class="subpage" id="subpage_2">

            <!-- OTHER PERSONAL INFO -->
            <h3 class="formcat"> Complementary information </h3>

            <div class="question">
              <div class="input-group">
                <label for="gender" class="smlabel input-group-addon">Gender</label>
                <select id="gender" name="gender"
                        class="custom-select form-control">
                  <option selected value="0">Select your gender</option>
                  <option value="F">Woman</option>
                  <option value="M">Man</option>
                </select>
              </div>
            </div>

            <div class="question" style="margin-bottom:.5em" >
              <p class="legend">Upload a picture of yours (max source size: 200kB)</p>
              <!-- <p class="legend">Upload a picture of yours (max source size: 4MB, then the image will be reduced to 200kB)</p> -->
              <div class="input-group">
                <label for="pic_file" class="smlabel input-group-addon">Picture</label>
                <input type="file" id="pic_file" name="pic_file"
                       accept="image/png,image/jpeg" class="form-control"
                       onchange="checkShowPic(this)">
              </div>
              <p id="picture_message" class="legend red" style="font-weight:bold"></p>
            </div>

            <div id="box_show_pic">
                <img id="show_pic" src=""></img>
            </div>

            <div class="question">
              <div class="input-group">
                <label for="community_hashtags" class="smlabel input-group-addon">Interest groups</label>
                <input id="community_hashtags" name="community_hashtags" maxlength="350"
                       type="text" class="form-control" placeholder="eg #dataviz or #networks">
              </div>
              <p class="legend">Interest groups aka "hashtags" (full suggestion list available shortly)</p>
            </div>

            <div class="question">
              <div class="input-group">
                <label for="interests_text" class="input-group-addon">
                  Personal interests
                </label>

                <textarea id="interests_text" name="interests_text" maxlength="1200"
                          rows="7" style="resize:none"
                          class="form-control" placeholder="If you wish, you may describe here your personal interests."
                          onblur="makeBold(this)" onfocus="makeNormal(this)"
                          ></textarea>
              </div>
              <p class="legend">Optional, ~15 lines max (1200 chars)</p>
            </div>

            <!-- CNIL WARNING -->
            <h3 class="formcat"> About your data </h3>

            <div class="question" id="cnil_warning">
              <p>Les informations recueillies à partir de ce formulaire font l’objet d’un traitement
                 informatique destiné à: </p>
                 <p><strong>communityexplorer.org</strong></p>
              <p>Pour la ou les finalité(s) suivante(s) : </p>
                 <p><strong>
                     Modélisation de la communauté des chercheurs
                     <br />
                     Diffusion de l'information dans la communauté
                 </strong></p>
              <p>Le ou les destinataire(s) des données sont :</p>
              <p><strong>ISC-PIF (CNRS / UPS 3611)</strong></p>
              <p>Conformément à la <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee">
                loi « informatique et libertés » du 6 janvier 1978 modifiée</a>,
                vous disposez d’un <a href="https://www.cnil.fr/fr/le-droit-dacces">droit d’accès</a>
                et <a href="https://www.cnil.fr/fr/le-droit-de-rectification">de rectification</a>
                aux informations qui vous concernent.
              </p>
              <p>Vous pouvez accèder aux informations vous concernant en vous adressant à :</p>
              <p class="rtecenter"><strong>todo@iscpif.fr</strong></p>
              <p>Vous pouvez également, pour des motifs légitimes,
                <a href="https://www.cnil.fr/fr/le-droit-dopposition">vous opposer au traitement
                  des données vous concernant</a>.
              </p>
              <p>Pour en savoir plus, <a href="https://www.cnil.fr/fr/comprendre-vos-droits">
                consultez vos droits sur le site de la CNIL</a>.
              </p>
            </div>

          </div> <!-- / end of subpage_2 -->

          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" onclick="scroll(0,0);subPage1Style.display='block';subPage2Style.display='none'">1</a></li>
              <li class="page-item"><a class="page-link" onclick="scroll(0,0);subPage1Style.display='none';subPage2Style.display='block'">2</a></li>
            </ul>
          </nav>

          <!-- hidden input for doors "hostname:port" -->
          <input id="doors_connect" name="doors_connect" type="text" hidden value="{{doors_connect|safe}}">
          </input>

          <!-- hidden input for modification date -->
          <input id="last_modified_date" name="last_modified_date" type="text" hidden>
          </input>

          <!-- hidden input for doors user id -->
          <input id="doors_uid" name="doors_uid" type="text" hidden>
          </input>

          <!-- hidden input for captcha verification hash -->
          <input id="my-captchaHash" name="my-captchaHash" type="text" hidden>
          </input>

          <div class="row spacerrow">&nbsp;</div><div class="row spacerrow">&nbsp;</div>

          <!-- CAPTCHA & SUBMIT BTN + INFOS-->
          <h3 class="formcat">Verify and submit</h3>

          <!--pseudo captcha using realperson from http://keith-wood.name/realPerson.html -->

          <p class="legend">(A challenge for spam bots)</p>
          <div class="question input-group">
            <label for="my-captcha" class="smlabel input-group-addon">Code</label>
            <input id="my-captcha" name="my-captcha" style="max-width:60%"
                   type="text" class="form-control input-lg" placeholder="Enter the 5 letters you see beside =>"
                   onblur="makeBold(this)" onfocus="makeNormal(this)">
          </div>

          <div class="row spacerrow">&nbsp;</div>

          <!-- == S U B M I T == -->
          <!-- button instead of input.submit to validate before real submit action -->
          <!-- also remember stackoverflow.com/a/3315016/2489184 -->
          <button class="btn btn-lg btn-success" style="float:right"
                  id="formsubmit" type=button
                  onclick="registerDoorsAndSubmit(event)">
                  Submit your form
          </button>

          <!-- main validation message -->
          <p id="main_validation_message" class="legend" style="display:none"></p>

        </form>

        <!-- FOR DEBUG: test go-between with Doors -->
        <!-- <p>
            <button type=button onclick='callDoors("user", [email.value, pass1.value, initialsInput.value], console.warn)'>
                test doors login
            </button>
            <button type=button onclick='callDoors("register", [email.value, pass1.value, initialsInput.value], console.warn)'>
                test doors register
            </button>
            <button type=button onclick='callDoors("userExists", [email.value, null, null], console.warn)'>
                test doors userExists
            </button>
        </p> -->

      </div>
      <div class="spacer col-sm-2 col-md-2">&nbsp;</div>
    </div>

    <div class="row spacerrow">&nbsp;</div>
    <div class="row spacerrow">&nbsp;</div>

    <!-- FOOTER TEXT AND LINKS -->
    <footer>
        <!-- This directory is maintained by the <a href="http://cssociety.org" target="blank">Complex Systems Society</a>
             and the <a href="http://iscpif.fr" target="blank">Complex Systems Institute of Paris Ile-de-France</a>.<br/>-->
        <center>
            <a href="http://communityexplorer.org/about.html"><span class="glyphicon glyphicon-question-sign"></span> About</a> -
            <a href="http://moma.csregistry.org/feedback" target="BLANK"><span class="glyphicon glyphicon-repeat"></span> Feedback</a> -
            <a href="http://communityexplorer.org/privacy.html"> <span class="glyphicon glyphicon-list-alt"></span> Privacy</a>
            <br>
              Directory maintained by the
                <a href="http://cssociety.org/" target="blank"> Complex Systems Society</a> and the
                <a href="http://iscpif.fr/" target="blank">Complex Systems Institute of Paris Ile-de-France</a>.
            <br>
            <a href="http://cssociety.org/" target="_BLANK">
              <img src="{{ url_for('static', filename='images/css.png') }}" alt="http://cssociety.org"
                   style="border: none; margin-bottom : -6px;"
                   title="isc-pif" height="25px">
            </a>

            <a href="http://iscpif.fr/">
              <img src="{{ url_for('static', filename='images/iscpif_short.png') }}" alt="iscpif.fr"
              style="border: none; margin-bottom : -6px;"
              title="isc-pif">
            </a>

            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="blank">
              <img alt="Creative Commons License" style="border: none; margin-bottom : -6px;" src="{{ url_for('static', filename='images/cc.png') }}" height="20px">
            </a> -
            <!-- <a href="http://moma.csregistry.org/" target="_BLANK"> MOMA</a> -  -->
            <a href="http://iscpif.fr/" target="_BLANK">ISC-PIF</a> -
            <a href="http://www.cnrs.fr/fr/recherche/index.htm" target="_BLANK">CNRS</a>.
        </center>
        <p>&nbsp;</p>
    </footer>
  </div>

  <!--  our js  -->
  <script src="{{ url_for('static', filename='js/comex_reg_form_controllers.js') }}"></script>

</body>
</html>
