<!DOCTYPE html5>
<html lang="fr-FR">
<head>
  <meta charset="utf-8">

  <!-- ## CSS ## -->
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/topbar_bootstrap_retrocompatibility.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='js/realperson/jquery.realperson.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/whoswho.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/comex_user.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/comex.css') }}">

  <!--   for topbar search/refine   -->

  <!-- ## fonts ## -->
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Droid%20Sans" rel="stylesheet">

  <!-- <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/bootstrap_index.css') }}"> -->

  <!-- ## JS ## -->

  <!--   libs   -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
  <!--   for topbar search/refine   -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/misc/underscore.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.highlight-3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/whoswho.js') }}"></script>

  <!-- realperson
       factorized here in base layout because menubar login has captcha -->
  <!-- realperson salt:
       possible to change it and send it each time with makeSalt-->
  <script type="text/javascript">$.salt = 'verylonverylongverylonverylongverylonverylong'</script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/realperson/jquery.plugin.min.js') }}"></script>
  <!-- for some reason jquery.realperson.min.js reacts differently to salt than jquery.realperson.js -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/realperson/jquery.realperson.js') }}"></script>
  <!-- /realperson -->


  <!--  NB our js will be at the end -->

  <!-- ## Piwik ## -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.iscpif.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//piwik.iscpif.fr/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->


  <!--  for title and stuff -->
  {% block headers %}
  {% endblock %}
</head>


<body>
  {% block incipit %}
  {% endblock %}

  <!-- needed if login -->
  <input id="doors_connect" name="doors_connect" type="text" hidden
         value="{{ doors_connect|safe }}">

  <div class="topbar" style="opacity: 0.9;">
      <div class="topbar-inner">
          <div class="container-fluid">
              <ul class="white nav navbar-nav navbar-left">
                  <li>
                      <a class="brand" href="https://iscpif.fr/">
                        <img height="25px" src="{{ url_for('static', filename='img/logo_m_bleu-header.png') }}"></a>
                  </li>
                  <li>
                      <a class="brand" href="/">
                        <span class="glyphicon glyphicon-home white"></span>&nbsp;&nbsp;
                        Community Explorer
                      </a>
                  </li>


                <!-- MAIN SEARCH/REFINE NAVBAR -->
                <li id="mapping" class="comex-nav-item">
                    <p class='topbarlink'>
                        <strong>SELECT Keywords AND Scholars</strong>
                    </p>
                </li>
                <li id="refine" class="dropdown comex-nav-item">
                    <a class="btn-default nav-inline-selectable"
                       style="padding-top: 1em"
                       onclick='$(this).next(".dropdown-menu").toggle();'
                       >refine<i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="addfiltercountry" href="#"
                                onclick='$(this).parents(".dropdown-menu").toggle();'>
                                Filter by country</a>
                        </li>
                        <li>
                            <a id="addfilterkeyword" href="#"
                               onclick='$(this).parents(".dropdown-menu").toggle();'>
                               Filter by keyword</a>
                        </li>
                        <li>
                            <a id="addfiltertag" href="#"
                               onclick='$(this).parents(".dropdown-menu").toggle();'>
                               Filter by community tags</a>
                        </li>
                        <li>
                            <a id="addfilterlaboratory" href="#"
                               onclick='$(this).parents(".dropdown-menu").toggle();'>
                               Filter by laboratory</a>
                        </li>
                    </ul>
                </li>
                <li class="comex-nav-item">
                    <a class="topbarlink" id="print" href="#"> <i class="icon-arrow-right icon-white"></i> <strong>CREATE DIRECTORY</strong></a>
                </li>
                <li class="comex-nav-item">
                    <p class="topbarlink">
                        <strong>&nbsp;OR&nbsp;</strong>
                    </p>
                </li>
                <li class="comex-nav-item">
                    <a class="topbarlink" id="generate" href="#"> <i class="icon-arrow-right icon-white"></i> <strong>MAP</strong></a>
                </li>

              </ul>



              <ul class="white nav navbar-nav navbar-right">
                <!-- USER TOOLBARS (LOGIN/REGISTER/PROFILE/ETC) -->
                <li class="dropdown">
                  <a href="#" class="navlink dropdown-toggle"
                     data-toggle="dropdown" role="button"
                     aria-haspopup="true" aria-expanded="false">
                     <span class="glyphicon glyphicon-user"></span>
                     User
                     <span class="caret"></span>
                 </a>
                  <ul class="dropdown-menu">
                      {% if current_user and not current_user.is_anonymous %}
                          {% if current_user.empty %}
                          <li>
                              <a href="/services/user/profile"> Create your Profile !</a>
                          </li>
                          {% else %}
                          <li>
                              <a href="/services/user/profile"> Your Profile </a>
                          </li>
                          <li>
                              <a href='/explorerjs.html?type="uid"&nodeidparam="{{ current_user.uid }}"'> Your Map </a>
                          </li>
                          <li>
                              <a href='/print_scholar_directory.php?query={{ current_user.uid }}'> Your Neighboor Stats </a>
                          </li>
                          {% endif %}
                      <li>
                          <a href='/services/user/logout/'> Logout </a>
                      </li>
                      {% else %}
                      <li>
                          <div class="dropdown-a-like" id="poplogin"
                            data-toggle="dropdown"
                            onclick="cmxClt.elts.box.toggleBox('auth_modal')">
                            Login </div>
                      </li>
                      <li>
                          <a href="/services/user/register"> Register </a>
                      </li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
          </div>
      </div>
  </div>


  <div class="page container-fluid">

    <!--  PLACE YOUR ACTUAL CONTENT HERE (~ bootstrap rows) -->
    {% block main_content %}
    {% endblock %}

    <div class="row spacerrow">&nbsp;</div>

    <!-- FOOTER TEXT AND LINKS -->
    <footer>
        <!-- This directory is maintained by the <a href="http://cssociety.org" target="blank">Complex Systems Society</a>
             and the <a href="http://iscpif.fr" target="blank">Complex Systems Institute of Paris Ile-de-France</a>.<br/>-->
        <center>
            <a href="/about.html"><span class="glyphicon glyphicon-question-sign"></span> About</a> -
            <!-- <a href="http://moma.csregistry.org/feedback" target="BLANK"><span class="glyphicon glyphicon-repeat"></span> Feedback</a> - -->
            <a href="/about/privacy"> <span class="glyphicon glyphicon-list-alt"></span> Privacy</a>
            <br>
              Directory maintained by the <a href="http://iscpif.fr/" target="blank">Complex Systems Institute of Paris Ile-de-France</a> (<a href="http://www.cnrs.fr/fr/recherche/index.htm" target="_BLANK">CNRS</a> UPS 3611) in partnership with the <a href="http://cssociety.org/" target="blank"> Complex Systems Society</a>.
            <br>

            <a href="http://iscpif.fr/">
              <img height="25px" src="{{ url_for('static', filename='img/logo_m_bleu-header.png') }}" title="Institut des Systèmes Complexes de Paris Ile-de-France"               style="border: none; margin: 3px 0 -6px 0;">
            </a>
            &nbsp;&nbsp;
            <a href="http://cssociety.org/" target="_BLANK">
              <img src="{{ url_for('static', filename='img/logo_cssociety_no_legend.png') }}" alt="http://cssociety.org"
                   style="border: none; margin: 3px 0 -6px 0;"
                   title="Complex systems society" height="25px">
            </a>
            &nbsp;&nbsp;
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="blank">
              <img alt="Creative Commons License" style="border: none; margin: 3px 0 -6px 0;" src="{{ url_for('static', filename='img/cc.png') }}" height="25px">
            </a>
            &nbsp;&nbsp;
            <a href="http://www.cnrs.fr/" target="blank">
              <img alt="CNRS" style="border: none; margin: 3px 0 -6px 0;" src="{{ url_for('static', filename='img/logo_cnrs.png') }}" height="30px">
            </a>
            <!-- <a href="http://moma.csregistry.org/" target="_BLANK"> MOMA</a> -  -->
        </center>
        <p>&nbsp;</p>
    </footer>

  </div>


  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-native-1.1.min.js') }}"></script>

  <!--  our js for auth and login: to be able to login via popup anywhere -->
  <script src="{{ url_for('static', filename='js/comex_user_shared.js') }}"></script>
  <script src="{{ url_for('static', filename='js/comex_user_shared_auth.js') }}"></script>
  <script src="{{ url_for('static', filename='js/comex_lib_elts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/comex_menubar_login_controllers.js') }}"></script>

  <!--  for our other js: end-of-page javascript imports -->
  {% block last_imports %}
  {% endblock %}

</body>
</html>
