<!DOCTYPE html5>
<html lang="fr-FR">
<head>
  <meta charset="utf-8">

  <!-- ## CSS ## -->
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/topbar_bootstrap_retrocompatibility.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='js/realperson/jquery.realperson.css') }}">
  <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/comex_user.css') }}">

  <!-- ## fonts ## -->
  <link type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link type="text/css" href="http://fonts.googleapis.com/css?family=Droid%20Sans" rel="stylesheet">

  <!-- <link type=text/css rel=stylesheet href="{{ url_for('static', filename='css/bootstrap_index.css') }}"> -->

  <!-- ## JS ## -->

  <!--   libs   -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>

  <!--  NB our js will be at the end -->

  <!-- ## Piwik ## -->
  <!-- <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.iscpif.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//piwik.iscpif.fr/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript> -->
  <!-- End Piwik Code -->


  <!--  for title and stuff -->
  {% block headers %}
  {% endblock %}
</head>


<body>
  <div class="topbar" style="opacity: 0.9;">
      <div class="topbar-inner">
          <div class="container-fluid">
              <ul class="white nav navbar-nav navbar-left">
                  <li>
                      <a class="brand" href="https://iscpif.fr/">
                        <img height="25px" src="{{ url_for('static', filename='img/logo_m_bleu-header.png') }}"</a>
                  </li>
                  <li>
                      <a class="brand" href="/">
                        <span class="glyphicon glyphicon-home white"></span>&nbsp;&nbsp;
                        Community Explorer
                      </a>
                  </li>
              </ul>
              <ul class="white nav navbar-nav navbar-right">
                  {% if current_user and current_user.info %}
                      <li>
                          <a class="navlink" href="/services/user/profile"> Your Profile </a>
                      </li>
                      <li>
                          <a class="navlink" href='/explorerjs.html?type="uid"&nodeidparam="{{ current_user.uid }}"'> Your Map </a>
                      </li>
                      <li>
                          <a class="navlink" href='/print_scholar_directory.php?query={{ current_user.uid }}'> Your Neighboor Stats </a>
                      </li>
                      <li>
                          <a class="navlink" href='/services/user/logout/'> Logout </a>
                      </li>
                  {% else %}
                      <li>
                          <a class="navlink" href="/services/user/register"> Register </a>
                      </li>
                      <li>
                          <a class="navlink" href="/services/user/login"> Login </a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </div>


  <div class="page container-fluid">

    <!--  PLACE YOUR ACTUAL CONTENT HERE (~ bootstrap rows) -->
    {% block main_content %}
    {% endblock %}

    <div class="row bigspacerrow">&nbsp;</div>

    <!-- FOOTER TEXT AND LINKS -->
    <footer>
        <!-- This directory is maintained by the <a href="http://cssociety.org" target="blank">Complex Systems Society</a>
             and the <a href="http://iscpif.fr" target="blank">Complex Systems Institute of Paris Ile-de-France</a>.<br/>-->
        <center>
            <a href="http://communityexplorer.org/about.html"><span class="glyphicon glyphicon-question-sign"></span> About</a> -
            <a href="http://moma.csregistry.org/feedback" target="BLANK"><span class="glyphicon glyphicon-repeat"></span> Feedback</a> -
            <a href="http://communityexplorer.org/privacy.html"> <span class="glyphicon glyphicon-list-alt"></span> Privacy</a>
            <br>
              Directory maintained by the
                <a href="http://cssociety.org/" target="blank"> Complex Systems Society</a> and the
                <a href="http://iscpif.fr/" target="blank">Complex Systems Institute of Paris Ile-de-France</a>.
            <br>
            <a href="http://cssociety.org/" target="_BLANK">
              <img src="{{ url_for('static', filename='images/css.png') }}" alt="http://cssociety.org"
                   style="border: none; margin-bottom : -6px;"
                   title="isc-pif" height="25px">
            </a>

            <a href="http://iscpif.fr/">
              <img src="{{ url_for('static', filename='images/iscpif_short.png') }}" alt="iscpif.fr"
              style="border: none; margin-bottom : -6px;"
              title="isc-pif">
            </a>

            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="blank">
              <img alt="Creative Commons License" style="border: none; margin-bottom : -6px;" src="{{ url_for('static', filename='images/cc.png') }}" height="20px">
            </a> -
            <!-- <a href="http://moma.csregistry.org/" target="_BLANK"> MOMA</a> -  -->
            <a href="http://iscpif.fr/" target="_BLANK">ISC-PIF</a> -
            <a href="http://www.cnrs.fr/fr/recherche/index.htm" target="_BLANK">CNRS</a>.
        </center>
        <p>&nbsp;</p>
    </footer>

  </div>


  <!--  for our js: end-of-page javascript imports -->
  {% block last_imports %}
  {% endblock %}

</body>
</html>
