{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Profile</title>
  <meta name="description" content="Community Explorer Scholar User Profile">
  <meta name="keywords" content="complex systems, community, user profile">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row">
      <div class="spacer col-lg-1 hidden-md-down">&nbsp;</div>
      <div class="col-lg-9 col-md-11 col-sm-12">


        <!-- ##################### ( PROFILE OVERVIEW ) #################### -->

        <div id="intro">
                <p class="mini-hero">
                    <span class="bigger">
                            Welcome
                        <strong>
                          {{ return_user.info.hon_title or '' }}
                          {{ return_user.info.first_name }}
                          {{ return_user.info.middle_name or '' }}
                          {{ return_user.info.last_name }}
                        </strong>
                    </span>
              </p>
        </div>

        <!-- overview -->
        <h2 class="cat"> Create your new password </h2>

        <p class="mini-hero">
            It will allow you to login with the associated email: <u><b>{{ return_user.info.email }}</b></u>
        </p>


        <!-- uform with double-width (over 2 columns) -->
        <div class="uform-nobg" style="max-width:104em" >
            <!-- EMAIL & PASSWORD -->
            <!-- <h3 class="formcat"> Create your new password </h3> -->

        <form id="comex_createlogin_form" enctype="multipart/form-data"
              method="post" onsubmit="console.info('createlogin submitted')">

            <div class="page container-fluid nopadding nomargin">

              <div class="row nopadding nomargin">
               <!-- the create login/password form -->
               <div class="col-lg-6 col-md-5 col-sm-4 nopadding nomargin">

                   <br/><br/><br/>
                      <div class="question">
                        <div class="input-group">
                          <label for="password" class="smlabel input-group-addon">* Password</label>
                          <input id="password" name="password" maxlength="30"
                                 type="password" class="form-control" placeholder="Create a password">
                        </div>
                      </div>

                      <div class="question">
                        <div class="input-group">
                          <label for="password2" class="smlabel input-group-addon">* Password</label>
                          <input id="password2" name="password2" maxlength="30"
                                 type="password" class="form-control" placeholder="Repeat the password">
                        </div>
                        <p class="legend">Please make your password difficult to predict.</p>
                        <p class="umessage legend red" style="font-weight:bold"></p>
                       </div>


               </div>

              <!-- a vcard-like resume on the right side -->
               <div class="col-lg-5 col-md-6 col-sm-7">

                   <center>
                       <div class="legend-alone">
                           If this isn't your data, please <a href="/services/user/register">register a new account instead</a>.
                       </div>
                   </center>

                   <!-- CARTE DE VISITE -->
                   <div id="information-example" class="our-vcard" style="margin: 0 0 0 25">

                       <img src="{{ (return_user.pic_src | safe) if return_user.pic_src else ''}}" class="our-vcard-img">
                       <ul>
                           <li class=bigger>
                               <b>{{ return_user.info.hon_title or '' }}
                                   {{ return_user.info.first_name }}
                                   <!-- TODO mid initials -->
                                   {{ return_user.info.last_name }}</b>
                                   <br/>
                                   <br/>
                           </li>
                           <li>
                               <b>Country: </b>{{ return_user.info.country }}<br>
                               <b>Position: </b>{{ return_user.info.position }}<br>
                               <b>Keywords: </b>{{ return_user.info.keywords }}<br>

                               {% if return_user.info.home_url %}
                               <b>Homepage: </b>{{ return_user.info.home_url }}<br>
                               {% endif %}

                               {% if return_user.info.team_lab %}
                               <b>Lab: </b>{{ return_user.info.team_lab }}<br>
                               {% endif %}

                               {% if return_user.info.interests_text %}
                               <b>key: </b>{{ return_user.info.interests_text }}<br>
                               {% endif %}


                           </li>
                       </ul>
                       <br>
                   </div>
               </div>

              </div>
            </div>


            <!-- == S U B M I T == -->
            <button class="btn btn-lg btn-success" style="float:left;margin: 0 2em"
                 id="form_submit" type=button disabled
                 onclick="showMessageAndSubmit()">
                 Create pass and validate
            </button>


            <p class="mini-hero" style="max-width:40em">
              <small>After submit, you will receive a validation email from the ISCPIF authenticating portal "Doors", then this account <strong>will become active</strong>.</small>
            </p>


            <!-- hidden input for email value -->
            <input hidden readonly id="email" name="email" maxlength="255" readonly type="text" value="{{ return_user.info.email }}">

            <!-- doors return value message -->
            <p class="umessage legend"></p>

            <!-- hidden input for main user id -->
            <input id="return_user_luid" name="return_user_luid"
                 type="text" hidden
                 value="{{ return_user.uid | safe }}">
            </input>

            <!-- hidden input for doors user id after registration -->
            <input readonly id="doors_uid" name="doors_uid" type="text" hidden>
            </input>
          </form>
        </div>

      </div>
      <div class="spacer col-lg-1 hidden-md-down">&nbsp;</div>
    </div>


    <div class="menu-right-fixed">
      <!-- main validation message -->
      <p id="main_message" class="legend"></p>
    </div>

{% endblock %}

<!-- ======================================================================= -->

{% block last_imports %}
    <script type="text/javascript">
        //               ---------
        // a copy of the user info in json
        //               ---------
        var uinfo = {{return_user.json_info|safe}};
    </script>

    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_page_claim_profile_controllers.js') }}"></script>
{% endblock %}
