{% extends "base_layout.html" %}

{% block headers %}
  <title>Login to your Community Explorer Profile</title>
  <meta name="description" content="Community Explorer Scholar User Login">
  <meta name="keywords" content="login page, complex systems, community">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row">
      <div class="spacer col-sm-1 col-md-1">&nbsp;</div>
      <div class="my-box col-sm-8 col-md-8">

        <!-- INTRODUCTION TEXT -->
        <div id="intro">
          <h2 class="oldstyle">Login</h2>
              <p class="mini-hero">
                  Enter your email and password
              </p>
        </div>


        <!-- ########################### ( FORM ) ########################## -->
        <div class="uform">
        <form id="comex_login_form" enctype="multipart/form-data"
              method="post">

              <div class="question">
                <p class="legend">(It is the same login for all the ISC services.)</p>
                <div class="input-group">
                  <!-- email validation onblur/onchange is done by cmxClt.uauth in comex_user_shared_auth.js -->
                  <label for="email" class="smlabel input-group-addon">Email</label>
                  <input id="email" name="email" maxlength="255"
                         type="text" class="form-control" placeholder="email">

                  <!-- doors return value icon -->
                  <div class="uicontitmsg input-group-addon"
                       title="The email will be checked in our DB after you type and leave the box.">
                    <span class="uicon glyphicon glyphicon-question-sign grey"
                          ></span>
                  </div>
                </div>
                <!-- doors return value message -->
                <p class="umessage legend"></p>
              </div>

              <div class="question">
                <div class="input-group">
                  <label for="password" class="smlabel input-group-addon">Password</label>
                  <input id="password" name="password" maxlength="30"
                         type="password" class="form-control" placeholder="password">
                </div>
              </div>

          <!-- hidden input for doors "hostname:port" -->
          <input id="doors_connect" name="doors_connect" type="text" hidden value="{{doors_connect|safe}}">
          </input>

          <!-- hidden input for doors user id -->
          <input id="doors_uid" name="doors_uid" type="text" hidden>
          </input>

          <!-- hidden input for captcha verification hash -->
          <input id="my-captchaHash" name="my-captchaHash" type="text" hidden>
          </input>

          <div class="row spacerrow">&nbsp;</div>


          <!-- main validation message -->
          <p id="main_message" class="legend" style="display:none"></p>

          <!--pseudo captcha using realperson from http://keith-wood.name/realPerson.html -->
          <div class="question input-group">
            <label for="my-captcha" class="smlabel input-group-addon">Code</label>
            <input id="my-captcha" name="my-captcha" style="max-width:60%"
                   type="text" class="form-control input-lg" placeholder="Enter the 5 letters beside =>"
                   onblur="cmxClt.makeBold(this)" onfocus="cmxClt.makeNormal(this)">
            <p class="legend legend-float">(A challenge for spam bots)</p>
          </div>



          <!-- == S U B M I T == -->
          <!-- normal submit button
               (login to doors will happen b/w servers: no need to do it by ajax) -->
          <button class="btn btn-lg btn-success" style="float:right"
                  id="form_submit" disabled>
                  LOGIN
          </button>

        </form>
        </div>
      </div>

        <!-- FOR DEBUG: test go-between with Doors -->
        <!-- <p>
            <button type=button onclick='cmxClt.uauth.callDoors("user", [regfo.elEmail.value, regfo.elEmail.elPass.value], console.warn)'>
                test doors login
            </button>
            <button type=button onclick='cmxClt.uauth.callDoors("userExists", [regfo.elEmail.elEmail.value], console.warn)'>
                test doors userExists
            </button>
        </p> -->

      <div class="spacer col-sm-2 col-md-2">&nbsp;</div>
    </div>

{% endblock %}

<!-- ======================================================================= -->

{% block last_imports %}
    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_page_login_controllers.js') }}"></script>
{% endblock %}
