{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Message</title>
  <meta name="description" content="Community Explorer User Information Message">
  <meta name="keywords" content="information page, complex systems, community">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row smallspacerrow">&nbsp;</div>
    <div class="row">
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
      <div class="my-centering-box col-lg-8 col-md-10 col-sm-12">
          <div id="intro">
              <h2 class="oldstyle">Message</h2>
                  <div class="message-hero">
                      {{ message | safe }}
                  </div>
          </div>
      </div>
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>

{% endblock %}
