{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Message</title>
  <meta name="description" content="Community Explorer User Information Message">
  <meta name="keywords" content="information page, complex systems, community">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row">
      <div class="spacer col-sm-1 col-md-1">&nbsp;</div>
      <div class="col-sm-8 col-md-8">
          <div id="intro">
              <h2 class="oldstyle">Message</h2>
                  <p class="mini-hero">
                      {{ message | safe }}
                  </p>
          </div>
      </div>
      <div class="spacer col-sm-2 col-md-2">&nbsp;</div>
    </div>

{% endblock %}

<!-- ======================================================================= -->

{% block last_imports %}
    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_user_shared.js') }}"></script>
{% endblock %}
