{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Message</title>
  <meta name="description" content="Community Explorer User Information Message">
  <meta name="keywords" content="information page, complex systems, community">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
      <!-- CNIL WARNING -->
      <div class="row center">
        <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
        <div class="col-lg-8 col-md-10 col-sm-12 my-centering-box">
          <h2 class="cat"> About your data </h2>
          <div class="message-hero">
            <p>Personal data is given on a voluntary basis and people are responsible for the validity and integrity of the data displayed in their profile. We reserve the right to remove any profile that is out of the scope of complex system science and complexity science or does not comply with the rules of conduct. In particular, advertising is not allowed.</p>

            <p>For privacy reasons, scholars have to explicitly acknowledge in their profile that they agree to make their personal data public for inclusion in the interactive directories of the Community Explorer.</p>

            <p>Personal data will not be used for other purposes than scientific information through the complex systems institute, its hosted scientific web sites and its directories. If displayed in a directory, information about e-mail will always have spam protections. However, our current policy is not to display e-mails in any online media.</p>

            <p>At anytime, registered people can modify or remove their personal data on their <a href='/services/user/profile'>profile page</a>.</p>
          </div>
          <br/>
          <h2 class="cat"> About your rights in french law </h2>
          <div class="cartouche" id="cnil_warning">
            <p>Les informations recueillies à partir de ce formulaire font l’objet d’un traitement
               informatique destiné à: </p>
               <p><strong>communityexplorer.org</strong></p>
            <p>Pour la ou les finalité(s) suivante(s) : </p>
               <p><strong>
                   Modélisation de la communauté des chercheurs
                   <br />
                   Diffusion de l'information dans la communauté
               </strong></p>
            <p>Le ou les destinataire(s) des données sont :</p>
            <p><strong>ISC-PIF (CNRS / UPS 3611)</strong></p>
            <p>Conformément à la <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee">
              loi « informatique et libertés » du 6 janvier 1978 modifiée</a>,
              vous disposez d’un <a href="https://www.cnil.fr/fr/le-droit-dacces">droit d’accès</a>
              et <a href="https://www.cnil.fr/fr/le-droit-de-rectification">de rectification</a>
              aux informations qui vous concernent via:</p>
              <p><a href='/services/user/profile'><b>Votre page Profil</b></a></p>
            <p>Vous pouvez également, pour des motifs légitimes,
              <a href="https://www.cnil.fr/fr/le-droit-dopposition">vous opposer au traitement des données vous concernant</a>. Pour en savoir plus, <a href="https://www.cnil.fr/fr/comprendre-vos-droits">
              consultez vos droits sur le site de la CNIL</a>.
            </p>
          </div>
        </div>
        <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
      </div>
{% endblock %}
