{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Form : saved answers</title>
  <meta name="description" content="Community Explorer (ISCPIF CNRS UPS 3611)">
  <meta name="keywords" content="complex systems, community, registration form">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row smallspacerrow">&nbsp;</div>
    <div class="row">
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
      <div class="my-centering-box col-lg-8 col-md-10 col-sm-12">

        <!-- INTRODUCTION TEXT -->
        <div id="intro">
          <h2 class="oldstyle">Registration {{ "ok" if form_accepted else "failed" }}</h2>
              <p class="mini-hero">
                {% if form_accepted %}
                  Thank you for your answers ! We have updated the <strong>Community Explorer</strong> registration database with this new information.
                {% else %}
                  <span class="red">
                    Your answers couldn't be accepted
                    {% if backend_error %}
                    because there was an <b>error in the DB save</b> (see detail below)
                    {% else %}
                    because you filled some wrong information in the verification test !
                    {% endif %}
                    <br/> (if you click "back" you should be able to have your answers still in the form)
                  </span>
                {% endif %}
              </p>
              <p class="mini-hero">
                  {{message|safe}}
              </p>
        </div>

      </div>
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>

    <!-- any debug messages -->
    <div class="row spacerrow">&nbsp;</div>
    <div class="row">
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
      <div class="my-centering-box col-lg-8 col-md-10 col-sm-12">
          <div class="debug-info">
            {% if debug_message or (debug_records|length != 0) %}
                <h3 style="font-family:Calibri, sans-serif">debug</h3>
                {% for key in debug_records %}
                  <p> {{key}} &lt;- {{debug_records[key]}}</p>
                {% endfor %}

                {% if debug_message %}
                <p style="font-family: monospace; font-weight: bold">
                    {{debug_message|safe}}
                </p>
                {% endif %}
            {% endif %}
          </div>
      </div>
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>

{% endblock %}
