
/* -------- todo décaler dans custom.css ou un module charts -------- */
/* left bar contains modules */
.newleftbar {
    /* TODO choix fond noir ou fond clair via variables less*/
    background-color: inherit;
    position:fixed;
    left:0 ;
    width:18% ;
    height: 100%;
    overflow: auto;
    text-align:center;
    z-index: 100 ;   /* over the graph ? */
    padding-top: .3em;
    padding-bottom: 0;
    padding-right: 1em;
    padding-left: 1em;
}

/* ------------- todo décaler dans un module charts ----------------- */
#mainform{
/*
  max-width: 45em;
*/
  margin-top: .3em;
  margin-bottom: .3em;
  padding-right: 5px;
  padding-left: 5px;
}

.ui-menu, .ui-menu-item {
  /* hack for autocomplete menu to end up *over* modal:z1000 */
  z-index: 1100;
}

.ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

#search_histogram_wrapper{
  margin: 0 ;
  /* overwrite bootstrap's 
   * grid element padding*/
  padding-right: 1em;
  padding-left: 0;
}

/* graph div */
#search_histogram{
  min-height: 15em ;
  font-size: 85%;
}

/* dygraph internal canvas */
#search_histogram canvas{
  margin: 0 ;
  padding: 0;
}

/* small messages */
p.micromessage{
  font-size: 85%;
  color: #707070 ;
}
/* ------------- crowdsourcing proprement dit ----------------------- */


#crowdsourcing_answer{
  font-size: 85%;
  color: #707070 ;
  padding:0 1em ;
  text-align:center ;
}

#crowdsourcing_answer p {
  margin: 2px 0;
}

#savesuggestion.btn {
}

#savesuggestion.btn[disabled], #savesuggestion.btn.disabled {
  background-color: #B0B0B0 ;
  background-image: none ;
  border: 1px solid #909090 ;
}
